<footer class="footer mt-auto bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="footer-column">
          <h3 class="footer-heading">Courses</h3>
          <ul class="footer-list">
            {% for item in site.data.courses %}
            <li class="footer-list-item">
              <a class="footer-list-link" href="{{ item.url }}">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="footer-column">
          <h3 class="footer-heading">Resources</h3>
          <ul class="footer-list">
            {% for item in site.data.resources %}
            <li class="footer-list-item">
              <a class="footer-list-link" href="{{ item.url }}">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="footer-column">
          <a class="footer-url" href="hello@rocketacademy.co"
            >hello@rocketacademy.co</a
          >
          <div class="footer-icon-list">
            <div class="footer-icon">1</div>
            <div class="footer-icon">2</div>
            <div class="footer-icon">3</div>
            <div class="footer-icon">4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
