{% assign navurl = page.url | remove: 'index.html' %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="../assets/img/ra-brand.png"
        alt="RA brand image"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
      {% for item in include.navigation %}
        <li>
          <a href="{{ item.url }}"{% if item.url == navurl %} class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %}>{{ item.text }}</a>
        </li>
      {% endfor %}
        <li class="nav-item">
          <a class="btn btn-primary" href="/apply-now" role="button">Apply Now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
