body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

// .navbar {
//   background-color: $background-color-1;
//   a {
//   }

//   .navbar-brand {
//     font-family: $primary-font;
//     font-weight: $bold-font-weight;
//     color: $brand-primary-red;
//     img {
//       padding: 0;
//       height: 80px;
//       width: 300px;
//     }
//   }
//   .navbar-nav {
//     .nav-link {
//       font-size: 20px;
//       font-family: $secondary-font;
//       color: $text-color-1;
//     }
//   }
// }

// .btn {
//   color: $button-text;
//   background-color: $button-color;
// }

main {
  .container-fluid {
    font-family: $secondary-font;
    padding: 60px 0 0;
    letter-spacing: 0.1rem;
    font-size: 16px;
    overflow: auto;
    h1 {
      font-family: $primary-font;
    }
    .basics-header-row {
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../assets/img/uploads/Rocket Academy 2-1951 (1).jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .basics-header-col {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1,
        h2,
        h3 {
          padding: 20px;
        }
        h1 {
          font-size: 50px;
        }
        h2 {
          font-size: 40px;
          font-family: $primary-font;
        }
      }
    }
    .learn-row {
      background-color: $brand-primary-red;
      color: white;
      padding: 100px 80px;
      .learn-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      ol {
        @media screen and (min-width: $screen-sm-min) {
          width: 70%;
        }

        padding: 40px;
        li {
          padding: 0 20px;
        }
      }
      span {
        background-color: $brand-offwhite;
        color: $brand-secondary-red;
        border-radius: 5px;
        width: 20px;
      }
    }

    .prices-row {
      background-color: $brand-offwhite;
      padding: 40px;
      .prices-header-col {
        color: $brand-primary-red;
        padding: 40px 0;
        text-align: center;
        @media screen and (max-width: $screen-sm-min) {
          border-bottom: 1px solid $brand-blue;
          text-align: left;
        }
      }
      .prices-content-col {
        color: $brand-blue;
        .prices-middle-col {
          padding-top: 50px;
          @media screen and (min-width: $screen-sm-min) {
            border-top: 1px solid $brand-blue;
          }
          h4,
          h3 {
            font-weight: bold;
          }
          span {
            text-decoration: line-through;
          }
          ul {
            line-height: 200%;
            list-style: none;
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }

    .basics-test-row {
      padding: 40px;
      img {
        border-radius: 30px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: bottom left;
      }
      .basics-test-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        @media screen and (max-width: $screen-sm-min) {
          padding-top: 40px;
        }
        .quote {
          font-size: 22px;
          color: $brand-blue;
          span {
            background-color: $brand-offwhite;
          }
        }
        .student,
        a {
          color: $brand-secondary-red;
        }
        .student {
          font-size: 12px;
        }
      }
    }

    .audience-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      background-color: $brand-offwhite;
      h1 {
        color: $brand-primary-red;
        text-align: center;
        padding-top: 40px;
      }
      .audience-content-col {
        width: 70%;
        .audience-col {
          .question,
          p {
            color: $brand-blue;
          }
          .question {
            font-weight: bold;
          }
        }
      }
    }
    .structure-row {
      padding: 60px 40px;
      background-color: $brand-secondary-red;
      .structure-heading-col {
        h1 {
          @media screen and (min-width: $screen-sm-min) {
            width: 70%;
          }
        }
      }
      h1,
      .structure-content-heading {
        color: white;
        font-weight: bold;
      }

      .structure-content {
        color: $brand-offwhite;
        span {
          background-color: $brand-offwhite;
          color: $brand-secondary-red;
          border-radius: 5px;
        }
      }
    }
    .background-row {
      padding: 60px 40px 40px;
      color: white;
      background-color: $brand-blue;
      .background-header-col {
        h1 {
          color: $brand-offwhite;
          @media screen and (min-width: $screen-sm-min) {
            width: 70%;
          }
        }
      }
    }
    .curriculum-row {
      padding: 60px 40px;
      .curriculum-heading-col {
        color: $brand-primary-red;
        text-align: center;
      }
      .curriculum-content-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .curriculum-content {
        width: 70%;
        .curriculum-module {
          text-align: center;
          h4 {
            color: $brand-secondary-red;
            font-weight: bold;
          }
          p {
            color: $brand-blue;
            font-size: 14px;
          }
        }
      }
      .curriculum-schedule {
        width: 70%;
        border-top: 1px solid $brand-secondary-red;
        .curriculum-schedule-header {
          color: $brand-primary-red;
          h1 {
            @media screen and (min-width: $screen-sm-min) {
              width: 80%;
            }
          }
        }
        .curriculum-schedule-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $brand-blue;
          ul {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            li {
              padding: 10px 0;
            }
          }
        }
      }
    }

    .schedule-row {
      padding: 60px 40px;
      background-color: $brand-offwhite;
      .schedule-heading-col {
        color: $brand-primary-red;
        a {
          color: $brand-primary-red;
        }
      }
    }
    .main-header-row {
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../assets/img/uploads/Rocket Academy 2-1764.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .main-header-col {
      padding: 100px 40px;
      color: white;
      font-family: $primary-font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h3 {
        font-size: 55px;
        font-weight: lighter;
      }
      p {
        font-size: 30px;
        font-weight: lighter;
      }
      @media screen and (max-width: $screen-sm-min) {
        padding-top: 30vh;
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    .coursetype-row {
      background-color: $brand-primary-red;
      padding: 40px;

      .coursetype-col {
        .coursetype-container {
          margin: 20px 5px;
          padding: 40px 40px 20px;
          background-color: white;
          color: $brand-blue;
          font-family: $secondary-font;
          border-radius: 15px;
          height: 98%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;

          .coursetype-header {
            font-weight: bold;
            font-family: $primary-font;
            font-size: 22px;
            color: $brand-primary-red;
          }

          .pre-requisite {
            background-color: $brand-offwhite;
            color: $brand-secondary-red;
            border-radius: 10px;
          }
          .coursetype-details {
            height: 90%;
            span {
              font-weight: bold;
            }
            .price {
              text-decoration: line-through;
            }
            .new-price {
              background-color: $brand-offwhite;
              color: $brand-secondary-red;
              border-radius: 10px;
            }
          }

          .coursetype-button-container {
            height: 10%;
          }

          .coursetype-button {
            background-color: $brand-blue;
            border: none;
            border-radius: 40px;
            color: white;
            width: 150px;
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }

    .track-record-row {
      padding: 40px;
      background-color: $brand-blue;
      color: white;
      font-family: $primary-font;

      .track-record-col {
        .track-record-container-left,
        .track-record-container-right {
          text-align: left;
          margin: 20px;
          height: 100%;
          text-align: left;
          h1 {
            font-family: $primary-font;
          }

          img {
            border-radius: 20px;
            height: 90%;
            width: 100%;
            object-fit: cover;
            background-position: bottom left;
          }
        }

        .track-record-container-right {
          @media screen and (max-width: $screen-xs-min) {
            height: 80%;
          }
        }
      }
    }

    .table-row {
      padding: 40px;
      color: white;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../../assets/img/uploads/Perry-1659.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .table-header-col {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px;
      }
      .table-content-col {
        padding: 0;
        margin: 0;
        th,
        td {
          padding: 15px;
          color: white;
          text-align: center;
        }
      }
    }

    .row-testimonial {
      padding: 40px;
      background-color: $brand-offwhite;
      .col-testimonial-header {
        color: $brand-primary-red;
        padding: 40px;
        @media screen and (max-width: $screen-xs-min) {
          padding: 20px;
        }
      }
      .testimonial-content-col {
        padding: 0 40px;
        color: $brand-secondary-red;
        @media screen and (max-width: $screen-xs-min) {
          padding: 0 20px;
        }
        .student {
          color: $brand-blue;
          font-size: 12px;
          font-weight: bold;
          font-family: $primary-font;
          @media screen and (max-width: $screen-xs-min) {
            padding-top: 20px;
          }
        }
      }
      .testimonial-content-col-row {
        padding: 20px 0;
      }
      .testimonial-footer a {
        color: $brand-primary-red;
        padding: 40px;
        @media screen and (max-width: $screen-xs-min) {
          padding: 20px;
        }
      }
    }
    .success-row {
      padding: 40px;
      .success-header {
        color: $brand-primary-red;
        padding: 40px 40px 0;
        @media screen and (max-width: $screen-xs-min) {
          padding: 20px;
        }
      }

      .success-content-col {
        padding: 40px;
        color: $brand-blue;
        .success-title {
          font-weight: bold;
        }
        .success-content {
          width: 80%;
        }

        @media screen and (max-width: $screen-xs-min) {
          padding: 20px;
        }
      }
      img {
        border-radius: 20px;
        height: 90%;
        width: 80%;
        object-fit: cover;
        background-position: center;
      }
    }
    .instructors-row {
      background-color: $brand-blue;
      padding: 40px;
      .instructors-header {
        padding: 40px;
        color: $brand-offwhite;
      }
      .instructors-container {
        margin: 20px;
        h4 {
          padding: 10px;
          a {
            color: $brand-secondary-red;
          }
        }
      }
      .instructor-details {
        color: white;
        img {
          border-radius: 20px;
          height: 90%;
          width: 100%;
          object-fit: cover;
          background-position: center;
        }
      }
      .instructors-button-container {
        .instructors-button {
          width: 100px;
          height: 30px;
          border-radius: 5px;
          border: none;
          font-size: 10px;
          font-weight: bold;
          color: $brand-primary-red;
          background-color: $brand-offwhite;
        }
      }
    }
  }
}

.blog-row {
  background-color: $brand-secondary-red;
  padding: 40px;
  color: white;
  .blog-header {
    padding: 40px;
  }

  .blog-title {
    padding: 0 40px;
  }

  img {
    border-radius: 20px;
    height: 75%;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
}
.navbar {
  background-color: $brand-offwhite;
  letter-spacing: 0.1rem;
  padding: 0 20px 0 0;
  .navbar-brand {
    img {
      padding: 0;
      height: 80px;
      width: 260px;
    }
  }

  .navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: transparent;
    border: none;
  }

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
  }

  .navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: $brand-blue;
    margin-bottom: 5px;
  }

  .nav-link {
    color: $brand-blue;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 30px 20px 20px;
  }

  .navlink-current {
    text-decoration: underline;
  }
}

.btn {
  color: $button-text;
  height: $button-height;
  letter-spacing: 0.1rem;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  background-color: $brand-primary-red;
}

.footer {
  .container {
    padding: 30px 10px;
  }

  .footer-column {
    padding-bottom: 20px;
  }

  .footer-heading {
    color: $brand-blue;
    font-weight: 600;
    font-size: 16px;
    font-family: $secondary-font;
  }

  .footer-list {
    list-style: none;
    padding-left: 0;
    .footer-list-link {
      color: $brand-secondary-red;
    }
  }

  .footer-url {
    font-size: 16px;
    color: $brand-secondary-red;
  }

  .footer-icon-list {
    color: $brand-blue;
    display: flex;
    font-size: 18px;
  }

  .footer-icon {
    padding-right: 15px;
  }
}
