.basics-header-row {
  padding: 50px 0;
  @include media-breakpoint-up(md) {
    padding: 80px 0;
  }

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/basics/basics-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header-col {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
    }
    @include media-breakpoint-up(sm) {
      h1 {
        text-align: left;
      }
    }
    h1,
    h2,
    h3 {
      padding: 20px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      text-align: center;
      font-size: 40px;
      font-family: $primary-font;
    }
  }
}

.learn-row {
  background-color: $red;
  color: white;
  padding: 20px 5px;
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .learn-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    text-align: center;
    h1 {
      padding: 20px 0 40px;
    }
    li {
      text-align: left;
      padding-right: 0;
      @include media-breakpoint-up(sm) {
        padding-right: 20px;
      }
    }
    @include media-breakpoint-up(sm) {
      h1 {
        text-align: center;
      }
      // width: 70%;
      padding: 40px;
      text-align: left;
    }
  }
  ol {
    @include media-breakpoint-up(sm) {
      width: 75%;
      padding: 40px;
    }

    li {
      padding: 0 20px;
      @include media-breakpoint-up(sm) {
        padding: 0 20px;
      }
    }
  }
  span {
    background-color: $light;
    color: $secondary;
    border-radius: 5px;
    width: 20px;
  }
  .percent {
    text-decoration: underline;
    font-weight: bold;
    background-color: transparent;
    color: $light;
  }
}

.prices-row {
  background-color: $light;
  padding: 20px 5px;
  text-align: left;
  @include media-breakpoint-up(sm) {
    padding: 40px;
    text-align: center;
  }

  .prices-header-col {
    color: $red;
    padding: 20px 0;
    @include media-breakpoint-up(sm) {
      border-bottom: 1px solid $blue;
      width: 80%;
    }
    text-align: center;

    @include media-breakpoint-up(sm) {
      border-bottom: none;
      padding: 40px 0;
    }
  }
  .prices-content-col {
    color: $blue;
    .prices-middle-col {
      padding-top: 40px;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ol {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      @include media-breakpoint-up(sm) {
        padding-top: 50px;
        border-top: 1px solid $blue;
        justify-content: flex-start;
        ol {
          text-align: left;
        }
      }
      h4,
      h3 {
        font-weight: bold;
      }
      span {
        text-decoration: line-through;
      }
      ul {
        line-height: 200%;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

.test-row {
  background-color: white;
  padding: 20px 5px;
  @include media-breakpoint-up(sm) {
    padding: 40px;
  }
  img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: bottom left;
  }
  .test-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 5px;
    @include media-breakpoint-up(sm) {
      padding-top: 20px;
    }
    .test-col-top,
    .test-col-bottom {
      text-align: center;
      @include media-breakpoint-up(sm) {
        margin-left: 20px;
        text-align: left;
      }
    }
    .quote {
      font-size: 22px;
      color: $blue;
      span {
        background-color: $light;
      }
    }
    .student,
    a {
      color: $secondary;
    }
    .student {
      font-size: 12px;
    }
  }
}

.audience-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  background-color: $light;
  @include media-breakpoint-up(sm) {
    padding: 20px;
  }
  h1 {
    color: $red;
    text-align: center;
    padding-top: 40px;
  }
  .audience-container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    .audience-container-col {
      @include media-breakpoint-up(md) {
        width: 80%;
        h1 {
          text-align: left;
        }
      }
    }
  }
  .audience-content-col {
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    .audience-col {
      text-align: center;
      padding: 0 5px;
      @include media-breakpoint-up(md) {
        padding: 0 12px;
        text-align: left;
      }
      .question,
      p {
        color: $blue;
      }
      .question {
        font-weight: bold;
      }
    }
  }
}
.structure-row {
  padding: 20px 5px;
  @include media-breakpoint-up(sm) {
    padding: 60px 40px;
    text-align: left;
  }
  background-color: $secondary;
  .structure-heading-col {
    padding: 20px 5px;
    text-align: center;
    @include media-breakpoint-up(sm) {
      padding: 40 12px;
      text-align: left;
    }
    h1 {
      @include media-breakpoint-up(sm) {
        width: 70%;
      }
    }
  }
  h1,
  .structure-content-heading {
    color: white;
    font-weight: bold;
  }

  .structure-content-col {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ol {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @include media-breakpoint-up(sm) {
      padding: 0 12px;
      align-items: flex-start;
    }
  }
  .structure-content {
    color: $light;
    span {
      background-color: $light;
      color: $secondary;
      border-radius: 5px;
    }
  }
}
.background-row {
  padding: 40px 5px;
  color: white;
  background-color: $blue;
  @include media-breakpoint-up(sm) {
    padding: 60px 40px 40px;
  }
  .background-col {
    padding: 0px 5px;
    @include media-breakpoint-up(sm) {
      padding: 0 12px;
    }
  }
  .background-header-col {
    text-align: center;
    @include media-breakpoint-up(sm) {
      text-align: left;
    }
    h1 {
      color: $light;
      @include media-breakpoint-up(sm) {
        width: 70%;
      }
    }
  }
}
.curriculum-row {
  background-color: $white;
  padding: 40px 5px;
  @include media-breakpoint-up(sm) {
    padding: 60px 40px;
  }
  .curriculum-heading-col {
    color: $red;
    text-align: center;
  }
  .curriculum-content-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .curriculum-content {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 70%;
    }
    .curriculum-module {
      text-align: center;
      .curriculum-container {
        width: 100%;
        text-align: center;
        @include media-breakpoint-up(lg) {
          width: 70%;
        }
      }
      .curriculum-title {
        font-weight: bold;
      }
      h4 {
        color: $secondary;
        font-weight: bold;
      }
      p {
        color: $blue;
      }
    }
  }

  .curriculum-schedule {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 80%;
    }
    border-top: 1px solid $secondary;
    .curriculum-schedule-header {
      color: $red;

      h1 {
        text-align: center;
        @include media-breakpoint-up(sm) {
          width: 80%;
          text-align: left;
        }
      }
    }
    .curriculum-schedule-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $blue;
      .curriculum-cost {
        font-size: 12px;
      }
      ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        li {
          padding: 10px 0;
        }
      }
    }
  }
}

.schedule-row {
  padding: 40px 5px;
  @include media-breakpoint-up(md) {
    padding: 60px 40px;
  }
  .schedule-heading-col {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  background-color: $light;
  .schedule-tabs-col {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  .schedule-accordion-col {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    .accordion-button {
      background-color: $secondary;
      color: $light;
      height: 55px;
      font-size: 16px;
      border: none;
      padding-right: 40px;
    }
    .accordion-button:focus {
      outline: 0 !important;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    .accordion-button:not(.collapsed) {
      background-color: $red;
    }
    .accordion-button:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F9F6E7'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
    .accordion-button:hover {
      background-color: $red;
    }
    .accordion-body {
      margin: 0;
      padding: 0;
    }
  }
  .schedule-heading-col {
    color: $red;
    a {
      color: $red;
    }
  }

  .schedule-tabs-col {
    .nav-tabs {
      background-color: $light;
      border-bottom: 1px solid $secondary;
    }
    .nav-link {
      background-color: $secondary;
      color: $light;
      padding: 15px 25px;
      margin-right: 15px;
    }
    .nav-link:hover {
      background-color: $red;
    }
    .active {
      background-color: $red;
      border-bottom: 1px solid $red;
    }
  }
  .day-row {
    background-color: $light;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .day-col {
      color: $blue;
      width: 60%;
      .day-row-first {
        border-bottom: 1px solid $red;
      }
      .day-row-first,
      .day-row-last {
        font-size: 14px;
        padding: 40px 0;
        .lesson-day {
          font-family: $primary-font;
          font-size: 12px;
          font-weight: bold;
        }
        .lesson-title {
          font-family: $primary-font;
        }
        .lesson-title,
        .lesson-heading {
          font-weight: bold;
        }
      }
    }
  }
}
.last-row {
  background-color: $red;
  color: $light;
  padding: 40px 5px;
  text-align: center;
  @include media-breakpoint-up(sm) {
    padding: 80px;
    text-align: left;
  }
  .last-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .last-btn {
    color: $red;
    letter-spacing: 0.1rem;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    background-color: $light;
    a {
      text-decoration: none;
      color: $red;
    }
    .btn:hover {
      cursor: pointer;
    }
  }
}
