.basics-header-row {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/uploads/Rocket Academy 2-1951 (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header-col {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    h2,
    h3 {
      padding: 20px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      text-align: center;
      font-size: 40px;
      font-family: $primary-font;
    }
  }
}

.learn-row {
  background-color: $brand-primary-red;
  color: white;
  padding: 100px 80px;
  .learn-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ol {
    @media screen and (min-width: $screen-sm-min) {
      width: 70%;
    }

    padding: 40px;
    li {
      padding: 0 20px;
    }
  }
  span {
    background-color: $brand-offwhite;
    color: $brand-secondary-red;
    border-radius: 5px;
    width: 20px;
  }
  .percent {
    text-decoration: underline;
    font-weight: bold;
    background-color: transparent;
    color: $brand-offwhite;
  }
}

.prices-row {
  background-color: $brand-offwhite;
  padding: 40px;
  .prices-header-col {
    color: $brand-primary-red;
    padding: 40px 0;
    text-align: center;
    @media screen and (max-width: $screen-sm-min) {
      border-bottom: 1px solid $brand-blue;
      text-align: left;
    }
  }
  .prices-content-col {
    color: $brand-blue;
    .prices-middle-col {
      padding-top: 50px;
      @media screen and (min-width: $screen-sm-min) {
        border-top: 1px solid $brand-blue;
      }
      h4,
      h3 {
        font-weight: bold;
      }
      span {
        text-decoration: line-through;
      }
      ul {
        line-height: 200%;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

.test-row {
  padding: 40px;
  img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: bottom left;
  }
  .test-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    @media screen and (max-width: $screen-sm-min) {
      padding-top: 40px;
    }
    .quote {
      font-size: 22px;
      color: $brand-blue;
      span {
        background-color: $brand-offwhite;
      }
    }
    .student,
    a {
      color: $brand-secondary-red;
    }
    .student {
      font-size: 12px;
    }
  }
}

.audience-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: $brand-offwhite;
  h1 {
    color: $brand-primary-red;
    text-align: center;
    padding-top: 40px;
  }
  .audience-content-col {
    width: 70%;
    .audience-col {
      .question,
      p {
        color: $brand-blue;
      }
      .question {
        font-weight: bold;
      }
    }
  }
}
.structure-row {
  padding: 60px 40px;
  background-color: $brand-secondary-red;
  .structure-heading-col {
    h1 {
      @media screen and (min-width: $screen-sm-min) {
        width: 70%;
      }
    }
  }
  h1,
  .structure-content-heading {
    color: white;
    font-weight: bold;
  }

  .structure-content {
    color: $brand-offwhite;
    span {
      background-color: $brand-offwhite;
      color: $brand-secondary-red;
      border-radius: 5px;
    }
  }
}
.background-row {
  padding: 60px 40px 40px;
  color: white;
  background-color: $brand-blue;
  .background-header-col {
    h1 {
      color: $brand-offwhite;
      @media screen and (min-width: $screen-sm-min) {
        width: 70%;
      }
    }
  }
}
.curriculum-row {
  padding: 60px 40px;
  .curriculum-heading-col {
    color: $brand-primary-red;
    text-align: center;
  }
  .curriculum-content-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .curriculum-content {
    width: 80%;
    .curriculum-module {
      text-align: center;
      .curriculum-container {
        width: 80%;
      }
      .curriculum-title {
        font-weight: bold;
      }
      h4 {
        color: $brand-secondary-red;
        font-weight: bold;
      }
      p {
        color: $brand-blue;
        font-size: 14px;
      }
    }
  }
  .curriculum-schedule {
    width: 70%;
    border-top: 1px solid $brand-secondary-red;
    .curriculum-schedule-header {
      color: $brand-primary-red;
      h1 {
        @media screen and (min-width: $screen-sm-min) {
          width: 80%;
        }
      }
    }
    .curriculum-schedule-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $brand-blue;
      .curriculum-cost {
        font-size: 12px;
      }
      ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        li {
          padding: 10px 0;
        }
      }
    }
  }
}

.schedule-row {
  padding: 60px 40px;
  background-color: $brand-offwhite;
  .schedule-tabs-col {
    @media screen and (max-width: $screen-md-min) {
      display: none;
    }
    ul {
      margin-bottom: 60px;
    }
  }
  .schedule-accordion-col {
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }
    .accordion-button {
      background-color: $brand-secondary-red;
      color: $brand-offwhite;
      height: 55px;
      font-size: 16px;
      border: none;
      padding-right: 40px;
    }
    .accordion-button:focus {
      outline: 0 !important;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    .accordion-button:not(.collapsed) {
      background-color: $brand-primary-red;
    }
    .accordion-button:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F9F6E7'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
    .accordion-button:hover {
      background-color: $brand-primary-red;
    }
    .accordion-body {
      margin: 0;
      padding: 0;
    }
  }
  .schedule-heading-col {
    color: $brand-primary-red;
    a {
      color: $brand-primary-red;
    }
  }

  .schedule-tabs-col {
    .nav-tabs {
      background-color: $brand-offwhite;
      border-bottom: 1px solid $brand-secondary-red;
    }
    .nav-link {
      background-color: $brand-secondary-red;
      color: $brand-offwhite;
      padding: 15px 25px;
      margin-right: 15px;
    }
    .nav-link:hover {
      background-color: $brand-primary-red;
    }
    .active {
      background-color: $brand-primary-red;
      border-bottom: 1px solid $brand-primary-red;
    }
  }
  .day-row {
    background-color: $brand-offwhite;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .day-col {
      color: $brand-blue;
      width: 60%;
      .day-row-first {
        border-bottom: 1px solid $brand-primary-red;
      }
      .day-row-first,
      .day-row-last {
        font-size: 14px;
        padding: 40px 0;
        .lesson-day {
          font-family: $primary-font;
          font-size: 12px;
          font-weight: bold;
        }
        .lesson-title {
          font-family: $primary-font;
        }
        .lesson-title,
        .lesson-heading {
          font-weight: bold;
        }
      }
    }
  }
}
.last-row {
  background-color: $brand-primary-red;
  color: $brand-offwhite;
  padding: 80px;
  .last-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .last-btn {
    color: $brand-primary-red;
    letter-spacing: 0.1rem;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    background-color: $brand-offwhite;
    a {
      text-decoration: none;
      color: $brand-primary-red;
    }
    .btn:hover {
      cursor: pointer;
    }
  }
}
