.all-posts-row {
  background-color: $light;
  color: $red;
  padding: 50px 40px;
  h1 {
    padding-bottom: 50px;
    border-bottom: 1px solid $blue;
    text-align: center;
  }
  .all-posts-col {
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .post-row {
      padding: 40px;

      a {
        color: $blue;
        text-decoration: none;
      }
      .read-more {
        color: $red;
        text-decoration: underline;
        font-size: 14px;
      }
      img {
        padding-bottom: 20px;
        border-radius: 30px;
        height: 50%;
        width: 100%;
        object-fit: cover;
        background-position: center;
      }
    }
  }
}
.people-row {
  background-color: $blue;
  color: $light;
  padding: 50px 40px;
  h1 {
    padding-bottom: 50px;
    border-bottom: 1px solid $light;
    text-align: center;
  }
  .people-col {
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .post-row {
      padding: 40px;

      a {
        color: white;
        text-decoration: none;
      }
      img {
        padding-bottom: 20px;
        border-radius: 30px;
        height: 100%;
        width: 90%;
        object-fit: cover;
        background-position: center;
      }
    }
  }
}
.blog-page-row {
  padding: 40px 40px;
  color: $red;
  h1 {
    padding-bottom: 50px;
    border-bottom: 1px solid $red;
  }
  .blog-page-col {
    padding: 20px 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .post-row {
      padding: 40px;

      a {
        color: $blue;
        text-decoration: none;
      }
      img {
        padding-bottom: 20px;
        border-radius: 30px;
        height: 100%;
        width: 90%;
        object-fit: cover;
        background-position: bottom left;
      }
    }
  }
}
