.blog-title-row {
  background-color: $blue;
  color: white;
  height: 20vh;
}

.blog-page-row .blog-page-col .post-row {
  padding: 0;
}

.all-posts-row {
  background-color: $light;
  color: $red;
  padding: 40px 0;
  @include media-breakpoint-up(sm) {
    padding: 40px 40px;
  }
  h1 {
    padding-bottom: 50px;
    border-bottom: 1px solid $blue;
    text-align: center;
    margin-bottom: 30px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }
  .all-posts-col {
    padding: 0 5px;
    @include media-breakpoint-up(sm) {
      padding: 0 12px;
    }
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .post-row {
      @include media-breakpoint-up(sm) {
        padding: 40px;
      }
      a {
        color: $blue;
        text-decoration: none;
      }
      .read-more {
        color: $red;
        text-decoration: underline;
        font-size: 14px;
      }
      img {
        border-radius: 30px;
        width: 100%;
        object-fit: cover;
        background-position: center;
        @include media-breakpoint-up(sm) {
          height: 50%;
        }
      }
      h4 {
        padding-top: 20px;
        text-align: center;
        @include media-breakpoint-up(sm) {
          text-align: left;
        }
      }
      p {
        text-align: center;
        @include media-breakpoint-up(sm) {
          text-align: left;
        }
      }
    }
  }
}
.people-row {
  background-color: $blue;
  color: $light;
  padding: 50px 0;
  @include media-breakpoint-up(sm) {
    padding: 50px 40px;
  }
  h1 {
    padding-bottom: 50px;
    border-bottom: 1px solid $light;
    text-align: center;
    margin-bottom: 30px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }
  .people-col {
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .post-row {
      padding: 0 5px;
      @include media-breakpoint-up(sm) {
        padding: 40px;
      }

      a {
        color: white;
        text-decoration: none;
      }
      .post-img-col {
        display: flex;
        padding: 0 5px;
        @include media-breakpoint-up(sm) {
          padding: 0 12px;
        }
        img {
          margin: auto;
          // padding-bottom: 20px;
          border-radius: 30px;
          object-fit: cover;
          width: 100%;
          background-position: center;
          @include media-breakpoint-up(sm) {
            width: 90%;
          }
        }
      }
      .post-img-col-2 {
        text-align: center;
        padding-top: 20px;
        @include media-breakpoint-up(sm) {
          text-align: left;
        }
      }
    }
  }
}
.blog-page-row {
  color: $red;
  @include media-breakpoint-up(sm) {
    padding: 40px 40px;
  }
  .ra-max-width-cont {
    padding: 0 5px;
    @include media-breakpoint-up(sm) {
      padding: 0 12px;
    }
  }
  h1 {
    padding-bottom: 50px;
    border-bottom: 1px solid $red;
  }
  .blog-page-col {
    padding: 20px 5px;
    @include media-breakpoint-up(sm) {
      padding: 40px 40px;
    }
    ul {
      padding: 0;
      width: 100%;
    }
    li {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .post-row {
      @include media-breakpoint-up(sm) {
        padding: 40px;
      }
      .post-img-col {
        display: flex;
      }
      .post-img-col-2 {
        padding: 20px;
        text-align: center;
        @include media-breakpoint-up(sm) {
          padding: 0 40px;
          text-align: left;
        }
      }
      a {
        color: $blue;
        text-decoration: none;
      }
      img {
        margin: auto;
        // padding-bottom: 20px;
        border-radius: 30px;
        height: 100%;
        width: 95%;
        object-fit: cover;
        background-position: bottom left;
        @include media-breakpoint-up(sm) {
          width: 90%;
        }
      }
    }
  }
}
