.faq-title-row{
  background-color:$secondary;
  color:$white;
  height:20vh;
}
.faq-row {
  background-color: $light;
  padding: 80px 40px;

  h1 {
    color: $red;
    font-size: 35px;
  }
  h4 {
    color: $blue;
    font-weight: bold;
  }

  a {
    color: $secondary;
  }

  ol,
  p {
    color: $blue;
  }
  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .faq-col {
      @include media-breakpoint-up(md) {
        width: 60%;
      }
    }
  }
}
