.faq-row {
  background-color: $brand-offwhite;
  padding: 80px 40px;

  h1 {
    color: $brand-primary-red;
    font-size: 35px;
  }
  h4 {
    color: $brand-blue;
    font-weight: bold;
  }

  a {
    color: $brand-secondary-red;
  }

  ol,
  p {
    color: $brand-blue;
  }
  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .faq-col {
      @include media-breakpoint-up(md) {
        width: 60%;
      }
    }
  }
}
