.container-fluid {
  .intro {
    border-bottom: 1px solid $blue;
    padding-bottom: 30px;
  }
  small {
    font-size: 12px;
    font-weight: 100;
  }

  .main-header-row {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/img/uploads/home-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .main-header-cont {
      height: 100%;
    }

    .main-header-col {
      height: 100%;
      padding: 0 40px 25vh 40px;
      color: white;
      font-family: $primary-font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h3 {
        font-size: 55px;
      }
      p {
        font-size: 30px;
      }
      @include media-breakpoint-up(md) {
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .main-header-row {
      background-position: right;
    }
  }

  .coursetype-row {
    background-color: $red;
    padding: 40px;

    .coursetype-col {
      .coursetype-container {
        margin: 20px 5px;
        padding: 40px 40px 20px;
        background-color: white;
        color: $blue;
        border-radius: 15px;
        height: 98%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        .coursetype-header {
          font-weight: bold;
          font-family: $primary-font;
          font-size: 22px;
          color: $red;
        }

        .pre-requisite {
          background-color: $light;
          color: $secondary;
          border-radius: 10px;
        }
        .coursetype-details {
          height: 90%;
          span {
            font-weight: bold;
          }
          .price {
            text-decoration: line-through;
          }
          .new-price {
            background-color: $light;
            color: $secondary;
            border-radius: 10px;
          }
        }

        .coursetype-button-container {
          height: 10%;
        }

        .coursetype-button {
          background-color: $blue;
          border: none;
          border-radius: 40px;
          color: white;
          width: 150px;
          height: 40px;
          font-size: 14px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  .track-record-row {
    padding: 40px;
    background-color: $blue;
    color: white;
    font-family: $primary-font;

    .track-record-col {
      .track-record-container-left,
      .track-record-container-right {
        text-align: left;
        margin: 20px;
        height: 100%;
        text-align: left;
        h1 {
          font-family: $primary-font;
        }

        img {
          border-radius: 20px;
          height: 90%;
          width: 100%;
          object-fit: cover;
          background-position: bottom left;
        }
      }
    }
  }

  .table-row {
    padding: 40px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../assets/img/uploads/home-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .table-header-col {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 40px;
    }
    .table-content-col {
      padding: 0;
      margin: 0;
      th,
      td {
        padding: 15px;
        color: white;
        text-align: center;
      }
    }
  }

  .row-testimonial {
    padding: 40px;
    background-color: $light;
    .col-testimonial-header {
      color: $red;
      padding: 20px;
      @include media-breakpoint-up(sm) {
        padding: 40px;
      }
    }
    .testimonial-content-col {
      padding: 0 20px;
      color: $secondary;
      @include media-breakpoint-up(sm) {
        padding: 0 40px;
      }
      .student {
        color: $blue;
        font-size: 12px;
        font-weight: bold;
        font-family: $primary-font;
        padding-top: 20px;
        @include media-breakpoint-up(sm) {
          padding-top: 0px;
        }
      }
    }
    .testimonial-content-col-row {
      padding: 20px 0;
    }
    .testimonial-footer a {
      color: $red;
      padding: 20px;
      @include media-breakpoint-up(sm) {
        padding: 40px;
      }
    }
  }
  .success-row {
    padding: 40px;
    .success-header {
      color: $red;
      padding: 40px 40px 0;
      padding: 20px;
      @include media-breakpoint-up(sm) {
        padding: 0px;
      }
    }

    .success-content-col {
      padding: 40px;
      color: $blue;
      .success-title {
        font-weight: bold;
      }
      .success-content {
        width: 80%;
      }

      padding: 20px;
      @include media-breakpoint-up(sm) {
        padding: 0px;
      }
    }
    img {
      border-radius: 20px;
      height: 90%;
      width: 80%;
      object-fit: cover;
      background-position: center;
    }
  }
  .instructors-row {
    background-color: $blue;
    padding: 40px;
    .instructors-header {
      padding: 40px;
      color: $light;
    }
    .instructors-container {
      margin: 20px;
      h4 {
        padding: 10px;
        a {
          color: $secondary;
        }
      }
    }
    .instructor-details {
      color: white;
    }

    .instructor-img {
      width: 100%;
      border-radius: 20px;
    }
    .instructors-button {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      border: none;
      font-size: 10px;
      font-weight: bold;
      color: $red;
      background-color: $light;
      a {
        text-decoration: none;
        color: $red;
      }
    }
  }
  .blog-row {
    background-color: $secondary;
    padding: 40px;
    color: white;
    .blog-header {
      padding: 40px;
    }

    .blog-title {
      padding: 0 10px;
    }
    img {
      border-radius: 20px;
      height: 60%;
      width: 100%;
      object-fit: cover;
      background-position: center;
    }
  }
}
