.navbar-expand-lg {
  height: 69px;
  background-color: $light;
  letter-spacing: 0.1rem;
  padding: 0 0 7px 0;

  .navbar-collapse {
    background-color: $body-bg;
    padding-bottom: 20px;
  }
  .navbar-brand {
    img {
      margin: 15px 0 0 10px;
      height: 37px;
    }
  }

  .navbar-toggler {
    width: 47px;
    background-color: transparent;
  }

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
  }

  .navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: $blue;
    margin-bottom: 5px;
  }

  .navbar-nav {
    .nav-link {
      color: $blue;
      font-weight: 400;
      font-size: 18px;
    }

    .btn-primary {
      margin: 0 9px 0 9px;
      position: relative;
      top: 4px;
    }

    @include media-breakpoint-up(lg) {
      .nav-link {
        padding: 0;
        margin: 0 9px;
      }
    }

    .navlink-current {
      text-decoration: underline;
    }
  }
}
