.blog-carousel-row {
  background-color: $light;
  color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;

  .blog-carousel-col {
    h3 {
      padding-top: 20px;
    }
    border-top: 1px solid $blue;
    .carousel-inner {
      p,
      h3 {
        padding: 0;
      }
      @include media-breakpoint-up(md) {
        height: 50vh;
      }
    }
    h3 {
      width: 95%;
      @include media-breakpoint-up(md) {
        width: 80%;
      }
      font-weight: bold;
    }
    img {
      border-radius: 30px;
      height: 70%;
      width: 95%;
      object-fit: cover;
      background-position: center;
      @include media-breakpoint-up(md) {
        height: 50%;
        width: 80%;
      }
    }
    p {
      width: 95%;
      text-align: center;
      padding-bottom: 20px;
      @include media-breakpoint-up(md) {
        width: 70%;
        text-align: left;
        padding-bottom: 0;
      }
    }
  }
}
.page-bottom-row {
  background-color: $light;
  .page-bottom {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      width: 40%;
    }
    a {
      font-family: $primary-font;
      padding: 0 5px;
      text-decoration: none;
      color: $blue;
    }
    .bottom-container-left {
      display: flex;
      align-items: center;
    }
    .bottom-container-right {
      display: flex;
      align-items: center;
      text-align: right;
    }
  }
}

.individual-blog-page-row {
  padding: 50px;
  background-color: $light;
  color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 5px;
  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  .individual-blog-page-col {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    img {
      border-radius: 30px;
      height: 60%;
      width: 100%;
      object-fit: cover;
      background-position: center;
    }

    hr {
      height: 2px;
      margin: 30px;
    }
    h2 {
      color: $red;
      padding: 20px;
    }
    a {
      color: $secondary;
    }
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
      border-width: 1px;
      padding: 10px;
    }

    p,
    h3 {
      padding: 20px;
    }

    h4 {
      padding: 20px;
      font-weight: bold;
    }

    .image-left {
      border-radius: 30px;
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
      object-fit: cover;
      background-position: center;
      float: left;
    }
    .categories {
      font-size: 14px;
      font-weight: 100;
    }
  }
}
