.application-row {
  padding: 60px 0;
  background-color: $light;
  color: $blue;
  @include media-breakpoint-up(sm) {
    padding: 60px;
  }
  h1 {
    color: $red;
    padding-bottom: 30px;
  }

  select {
    width: 40%;
    @include media-breakpoint-up(sm) {
      width: 20%;
    }
  }
  .submit-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
    }
  }
}
.process-row {
  padding: 60px 0;
  background-color: $light;
  color: $blue;

  @include media-breakpoint-up(sm) {
    padding: 60px;
  }
  .row {
    text-align: center;
    @include media-breakpoint-up(sm) {
      text-align: left;
    }
  }
  h1 {
    color: $red;
  }
  a {
    color: $red;
  }
  h2 {
    font-weight: bold;
    font-family: $primary-font;
  }
  .inner-col {
    width: 90%;
  }
}
.image-row {
  height: 60vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/img/blog/blog-careers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .row {
    height: 100%;
  }
  .image-col {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    @include media-breakpoint-up(sm) {
      padding: 40px 70px;
    }
  }
}
