// Basic Typographic Defaults

// set font sizes in percent on the root element

html {
  font-size: $base-font-size;
  @media screen and (min-width: $screen-xs-min) {
    font-size: $base-font-size * 1.2;
  }
  @media screen and (min-width: $screen-md-min) {
    font-size: $base-font-size * 1.4;
  }
}
