---
layout: default
---

<div class="row about-header-row justify-content-center">
  <div class="ra-max-width-cont">
    <div class="row">
      <!-- <div class="row about-header-row"> -->
      <div class="col-12 col-10-sm offset-sm-1 offset-xxl-0 col-md-8 col-lg-6 about-header-col">
        <h1>Your Career is Our Priority.</h1>
        <h4>
          Rocket Academy’s #1 focus is getting students jobs, because when our
          students succeed, we succeed. The better jobs our students get, the
          stronger our alumni network becomes, enabling better jobs for future
          students.
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="row objectives-row justify-content-center">
  <div class="ra-max-width-cont">
    <div class="row">
      <!-- <div class="row objectives-row"> -->
      <div class="col-12 objective-col">
        <div class="row objective-image-row">
          <div class="col-12 objective-image-col">
            <img src="../../assets/img/about/about-main.jpg" />
          </div>
        </div>
        <div class="row objectives-text-row">
          <div class="col-12 col-md-6 objectives-text-col">
            <div class="text container">
              <h1>We Focus On Concepts</h1>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="text-container">
              <ol>
                <li>
                  Rocket Academy emphasises coding concepts, not languages.
                </li>
                <li>
                  Concepts are relevant to all languages, but syntax may only be
                  relevant to a specific language.
                </li>
                <li>
                  We teach concepts with the most popular languages: JavaScript,
                  Python, and SQL.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="row objectives-text-row">
          <div class="col-12 col-md-6 objectives-text-col">
            <div class="text container">
              <h1>We Get You a Job.</h1>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="text-container">
              <ol>
                <li>Unlimited algorithms interview prep</li>
                <li>Unlimited resume and portfolio review</li>
                <li>Unlimited referrals to companies in RA’s network</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="row objectives-text-row">
          <div class="col-12 col-md-6 objectives-text-col">
            <div class="text container">
              <h1>We Optimise Your Time.</h1>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="text-container last">
              <ol>
                <li>
                  All material is pre-recorded so you can review it at your own
                  pace, on your own time.
                </li>
                <li>
                  Daily classes and on-demand chat ensures we answer your
                  questions and you keep progressing.
                </li>
                <li>
                  Online classes eliminate commute time and enable flexible
                  working hours.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row kai-row justify-content-center">
  <div class="ra-max-width-cont">
    <div class="row">
      <!-- <div class="row kai-row"> -->
      <div class="col-12 kai-col">
        <div class="row kai-top">
          <div class="col-12 col-md-6 kai-top-left">
            <h1>Kai,</h1>
            <h1 class="title">Founder and CEO</h1>
            <img src="../../assets/img/about/about-kai.jpg" />
          </div>
          <div class="col-12 col-md-6 kai-top-right">
            <p class="upper-text">
              Kai studied Computer Science at Stanford and served as a CS
              teaching assistant. He has worked at Facebook, Alibaba, Nuna
              Health, and Dana Cita in San Francisco, New York, Singapore, and
              Jakarta.
            </p>
            <p class="lower-text">
              Kai started Rocket Academy after experiencing the industry-wide
              shortage of good software engineers. RA’s 6-month Bootcamp is a
              middle ground between long and expensive university courses and
              short and insufficient 12-week software engineering bootcamps.
            </p>
          </div>
        </div>
        <div class="row kai-bottom">
          <div class="col-12 kai-bottom-col">
            <h3>
              “Teaching has been incredibly rewarding because of the
              professional and social impact on students. I look forward to
              helping more students achieve their potential, and seeing our
              graduates reach greater heights.”
            </h3>
            <p>— Kai, Founder and CEO at Rocket Academy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row akira-row justify-content-center">
  <div class="ra-max-width-cont">
    <div class="row">
      <!-- <div class="row akira-row"> -->
      <div class="col-12 akira-col">
        <div class="row akira-top">
          <div class="col-12 col-md-6 akira-top-left">
            <h1>Akira,</h1>
            <h1>Head of Education</h1>
            <img src="../../assets/img/about/about-akira.jpg" />
          </div>
          <div class="col-12 col-md-6 akira-top-right">
            <p class="upper-text">
              Akira took a coding class in high school and taught himself the
              rest. He earned his first job after months of self-studying,
              attending meetups, and working for free. Since then he has led
              engineering teams in Silicon Valley and taught coding at General
              Assembly in New York and Singapore.
            </p>
            <p class="lower-text">
              Akira sharpened his technical expertise at Silicon Valley startups
              FTW Group, whylingual, and Hot Shot Media. He then became the Lead
              Instructor for Software Engineering Immersive at General Assembly
              New York followed by Singapore. With Rocket Academy, Akira aspires
              to improve students’ learning journey based on past teaching
              experiences. He plans to create comprehensive courses to support
              students at every level as they progress as professional
              programmers.
            </p>
          </div>
        </div>
        <div class="row akira-bottom">
          <div class="col-12 akira-bottom-col">
            <h3>
              “For aspiring software engineers: don't be intimidated by a field
              that can seem mysterious and technical. Learning the skills is not
              easy and a programming career is not for everyone, but it is
              possible to learn with the right approach. This field is one of
              the most meritocratic, and if you can demonstrate some knowledge
              and ability, it doesn't matter what your previous background is.”
            </h3>
            <p>— Akira, Head of Education at Rocket Academy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row team-row justify-content-center">
  <div class="ra-max-width-cont">
    <div class="row">
      <h1>Meet the Team</h1>
      <div class="col-12 team-col">
        <div class="row team-row">
          <div class="col-12 col-sm-6 col-md-4 staff-col">
            <img src="../../assets/img/about/about-zeph.jpg" />
            <p class="team-name">Zeph, Chief of Staff</p>
            <p>Rocket Bootcamp Graduate,</p>
            <p>NUS Computer Science Year 1</p>
            <p class="connect">
              <a href="https://www.linkedin.com/in/zephaniah-ong/"
                >Connect with me</a
              >
            </p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 staff-col">
            <img src="../../assets/img/about/about-michelle.jpg" />

            <p class="team-name">Michelle, Software Engineer</p>
            <p>Rocket Bootcamp Graduate,</p>
            <p>Ex-Horse Racing Manager</p>
            <p class="connect">
              <a href="https://www.linkedin.com/in/michelle-mok-89a885215/"
                >Connect with me</a
              >
            </p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 staff-col">
            <img src="../../assets/img/about/about-alvin.jpeg" />

            <p class="team-name">Alvin, Bootcamp Section Leader</p>
            <p>Rocket Bootcamp Graduate,</p>
            <p>Xfers Software Engineer</p>
            <p class="connect">
              <a href="https://www.linkedin.com/in/limjt/">Connect with me</a>
            </p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 staff-col">
            <img src="../../assets/img/about/about-yihui.jpg" />

            <p class="team-name">Yi Hui, Head of Marketing</p>
            <p>NUS Communications Graduate</p>
            <p class="connect">
              <a href="https://www.linkedin.com/in/yi-hui-neo-864700215/"
                >Connect with me</a
              >
            </p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 staff-col">
            <img src="../../assets/img/about/about-jeremy.jpg" />

            <p class="team-name">Jeremy, Head of Basics</p>
            <p>Rocket Bootcamp Graduate,</p>
            <p>MINDEF Analyst</p>
            <p class="connect">
              <a href="https://www.linkedin.com/in/jeremyl91/"
                >Connect with me</a
              >
            </p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 staff-col">
            <img src="../../assets/img/about/about-justin.jpg" />

            <p class="team-name">Justin, Intern in CEO Team</p>
            <p>NUS Computer Science Year 2</p>
            <p class="connect">
              <a href="https://www.linkedin.com/in/justinyjt/"
                >Connect with me</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
