---
layout: default
---

<div class="container-fluid">
  <div class="row application-row">
    <div class="col-12 col-lg-4 application-header-col">
      <h1>Start Your Coding Career Today.</h1>
    </div>
    <div class="col-12 col-lg-8">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name *</label>
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="First name"
                aria-label="First name"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Last name"
                aria-label="Last name"
              />
            </div>
          </div>
          <br />
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age *</label>
          <select class="form-select form-select-lg mb-3">
            <option value="&lt; 18">&lt; 18</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="45-54">45-54</option>
            <option value="55-64">55-54</option>
            <option value="&gt;= 65">&gt;= 65</option>
          </select>
          <br />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address *</label>
          <input
            type="email"
            class="form-control form-control-lg"
            id="email"
            placeholder="example@gmail.com"
          />
          <br />
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label"
            >Phone number (with country code) *</label
          >
          <br />
          <small>We may WhatsApp you if we cannot reach you via email.</small>
          <input
            type="number"
            class="form-control form-control-lg"
            id="phone_number"
            placeholder="+65 1234 5678"
          />
          <br />
        </div>
        <div class="mb-3">
          <label for="linkedin" class="form-label"
            >LinkedIn profile (if any) *</label
          >
          <br />
          <small
            >We will connect with you on LinkedIn and help you grow your
            network. Please enter "None" if you do not have a LinkedIn
            profile.</small
          >
          <input
            type="url"
            class="form-control form-control-lg"
            id="linkedin"
            placeholder="http://linkedin.com/in/example"
            pattern="https://.*"
          />
          <br />
        </div>
        <div class="mb-3">
          <p>Describe your coding experience *</p>
          <small>Prior experience is welcome but not necessary</small>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="no-experience"
            />
            <label class="form-check-label" for="no-experience">
              No experience
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="beginner"
            />
            <label class="form-check-label" for="beginner"> Beginner </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="intermediate"
            />
            <label class="form-check-label" for="intermediate">
              Intermediate
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="advanced"
            />
            <label class="form-check-label" for="advanced"> Advanced </label>
          </div>
          <br />
        </div>
        <div class="mb-3">
          <p>Courses you are interested in *</p>
          <small>Basics is a pre-requisite for Bootcamp.</small>
          <br />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="basics"
              id="basics"
            />
            <label class="form-check-label" for="basics">
              Coding Basics (6 Weeks Part-Time)
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="bootcampPT"
              id="bootcampPT"
            />
            <label class="form-check-label" for="bootcampPT">
              Coding Bootcamp (48 Weeks Part-Time)
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="bootcampFT"
              id="bootcampFT"
            />
            <label class="form-check-label" for="bootcampFT">
              Coding Bootcamp (24 Weeks Full-Time)
            </label>
          </div>
          <br />
        </div>
        <div class="mb-3">
          <label for="source" class="form-label"
            >How did you hear about us? *</label
          >
          <select class="form-select form-select-lg mb-3">
            <option value="">--</option>
            <option value="Word of Mouth">Word of Mouth</option>
            <option value="LinkedIn">LinkedIn</option>
            <option value="Google">Google</option>
            <option value="YouTube">YouTube</option>
            <option value="Instagram">Instagram</option>
            <option value="Facebook">Facebook</option>
            <option value="Other">Other</option>
          </select>
          <br />
        </div>
        <div class="mb-3">
          <label for="referral" class="form-label"
            >If a friend referred you, who was it?</label
          >
          <br />
          <small>Refer a friend to earn $500 if they enrol in bootcamp</small>
          <br />
          <input
            type="text"
            class="form-control form-control-lg"
            id="referral"
          />
          <br />
        </div>
        <div class="mb-3">
          <label for="personalInfo" class="form-label"
            >Tell us about yourself! What is your background and how can Rocket
            Academy be helpful? *</label
          >
          <br />
          <small>We look forward to getting to know you!</small>
          <br />
          <textarea
            class="form-control form-control-lg"
            id="personalInfo"
            rows="3"
          ></textarea>
          <br />
        </div>
        <br />
        <button type="submit" class="btn">Apply</button>
      </form>
    </div>
  </div>
  <div class="row process-row">
    <div class="col-12 col-md-4">
      <h1>Application Process</h1>
    </div>
    <br /><br /><br />
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>1. Apply Above</h2>
          <br />
          <p>
            If you haven’t already, submit the above form to get in touch with
            us. The more detail you provide, the better we’ll be able to advise!
          </p>
          <br /><br />
        </div>
        <div class="col-12 col-md-6">
          <h2>2. Review Resources</h2>
          <br />
          <p>
            If you haven’t already, review common questions on our
            <a href="/faq">FAQ page</a>, learn about the industry on
            <a href="/blog">our blog</a>, and/or
            <a href="hello@rocketacademy.co">email us</a> with any unanswered
            questions!
          </p>
          <br /><br />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>3. Video Interview</h2>
          <br />
          <p>
            We will schedule a casual video interview to determine if Rocket
            Academy is a good fit. We’ll talk about your background, goals, and
            any past coding experience you’ve had.
          </p>
          <br /><br />
        </div>
        <div class="col-12 col-md-6">
          <h2>4. Start Coding!</h2>
          <br />
          <p>
            If Rocket Academy is a fit, we will add you to RA’s Slack group
            chat, assign pre-course material, and get started on Basics! RA only
            accepts top Basics students to Bootcamp.
          </p>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
  <div class="row image-row">
    <div class="col image-col">
      <h1>Your Career Is Our Priority</h1>
    </div>
  </div>
</div>
