---
layout: default
---

<div class="container-fluid">
  <div class="row application-row">
    <div class="col-12 col-lg-4 application-header-col">
      <h1>Start Your Coding Career Today.</h1>
    </div>
    <div class="col-12 col-lg-8">
      <form id="apply-now-form">
        <input type="hidden" name="u" value="1620be4d8adef3c47e6b90477" />
        <input type="hidden" name="id" value="f029518324" />
        <div class="mb-3">
          <label for="MERGE1" class="form-label">Name *</label>
          <div class="row">
            <div class="col">
              <input
                type="text"
                name="MERGE1"
                id="MERGE1"
                class="form-control form-control-lg"
                placeholder="First name"
                aria-label="First name"
              />
            </div>
            <div class="col">
              <input
                type="text"
                name="MERGE2"
                id="MERGE2"
                class="form-control form-control-lg"
                placeholder="Last name"
                aria-label="Last name"
              />
            </div>
          </div>
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE23" class="form-label">Age *</label>
          <select
            id="MERGE23"
            name="MERGE23"
            class="form-select form-select-lg mb-3"
          >
            <option value="&lt; 18">&lt; 18</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="45-54">45-54</option>
            <option value="55-64">55-54</option>
            <option value="&gt;= 65">&gt;= 65</option>
          </select>
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE0" class="form-label">Email address *</label>
          <input
            type="email"
            name="MERGE0"
            id="MERGE0"
            class="form-control form-control-lg"
            placeholder="example@gmail.com"
          />
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE4" class="form-label"
            >Phone number (with country code) *</label
          >
          <br />
          <small>We may WhatsApp you if we cannot reach you via email.</small>
          <input
            type="text"
            name="MERGE4"
            id="MERGE4"
            class="form-control form-control-lg"
            placeholder="+65 1234 5678"
            name="MERGE0"
            id="MERGE0"
          />
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE10" class="form-label"
            >LinkedIn profile (if any) *
          </label>
          <br />
          <small
            >We will connect with you on LinkedIn and help you grow your
            network. Please enter "None" if you do not have a LinkedIn
            profile.</small
          >
          <input
            type="text"
            class="form-control form-control-lg"
            name="MERGE10"
            id="MERGE10"
            placeholder="http://linkedin.com/in/example"
          />
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE3">Describe your coding experience *</label>
          <small>Prior experience is welcome but not necessary</small>
          <div class="form-check" id="MERGE3">
            <input
              class="form-check-input"
              type="radio"
              name="MERGE3"
              id="MERGE3-0"
              value="No experience"
            />
            <label class="form-check-label" for="MERGE3-0">
              No experience
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="MERGE3"
              id="MERGE3-1"
              value="Beginner"
            />
            <label class="form-check-label" for="MERGE3-1"> Beginner </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="MERGE3"
              id="MERGE3-2"
              value="Intermediate"
            />
            <label class="form-check-label" for="MERGE3-2">
              Intermediate
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="MERGE3"
              id="MERGE3-3"
              value="Advanced"
            />
            <label class="form-check-label" for="MERGE3-3"> Advanced </label>
          </div>
          <br />
        </div>
        <div class="mb-3">
          <label for="group_2">Courses you are interested in *</label>
          <small>Basics is a pre-requisite for Bootcamp.</small>
          <br />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="group_2"
              name="group[182841][2]"
              value="1"
            />
            <label class="form-check-label" for="group[182841][2]">
              Coding Basics (6 Weeks Part-Time)
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="group_4"
              name="group[182841][4]"
              value="1"
            />
            <label class="form-check-label" for="group[182841][4]">
              Coding Bootcamp (48 Weeks Part-Time)
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="group_8"
              name="group[182841][8]"
              value="1"
            />
            <label class="form-check-label" for="group[182841][8]">
              Coding Bootcamp (24 Weeks Full-Time)
            </label>
          </div>
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE16" class="form-label"
            >How did you hear about us? *</label
          >
          <select
            class="form-select form-select-lg mb-3"
            id="MERGE16"
            name="MERGE16"
          >
            <option value="">--</option>
            <option value="Word of Mouth">Word of Mouth</option>
            <option value="LinkedIn">LinkedIn</option>
            <option value="Google">Google</option>
            <option value="YouTube">YouTube</option>
            <option value="Instagram">Instagram</option>
            <option value="Facebook">Facebook</option>
            <option value="Other">Other</option>
          </select>
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE13" class="form-label"
            >If a friend referred you, who was it?</label
          >
          <br />
          <small>Refer a friend to earn $500 if they enrol in bootcamp</small>
          <br />
          <input
            type="text"
            name="MERGE13"
            id="MERGE13"
            class="form-control form-control-lg"
          />
          <br />
        </div>
        <div class="mb-3">
          <label for="MERGE6" class="form-label"
            >Tell us about yourself! What is your background and how can Rocket
            Academy be helpful? *</label
          >
          <br />
          <small>We look forward to getting to know you!</small>
          <br />
          <textarea
            class="form-control form-control-lg"
            name="MERGE6"
            id="MERGE6"
            rows="3"
          ></textarea>
          <br />
        </div>
        <br />
        <input id="submit" type="submit" class="btn btn-primary" value="Apply"/>
        <input
          type="hidden"
          name="ht"
          value="017d765c4cbd87a9f6d4105e90e24e111f4857b0:MTYyOTI0MjA2MS4xMzEz"
        />
        <input type="hidden" name="mc_signupsource" value="hosted" />
      </form>
    </div>
  </div>
  <div class="row process-row">
    <div class="col-12 col-md-4">
      <h1>Application Process</h1>
    </div>
    <br /><br /><br />
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="inner-col">
            <h2>1. Apply Above</h2>
            <br />
            <p>
              If you haven’t already, submit the above form to get in touch with
              us. The more detail you provide, the better we’ll be able to
              advise!
            </p>
          </div>
          <br /><br />
        </div>
        <div class="col-12 col-md-6">
          <div class="inner-col">
            <h2>2. Review Resources</h2>
            <br />
            <p>
              If you haven’t already, review common questions on our
              <a href="/faq">FAQ page</a>, learn about the industry on
              <a href="/blog">our blog</a>, and/or
              <a href="hello@rocketacademy.co">email us</a> with any unanswered
              questions!
            </p>
          </div>
          <br /><br />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="inner-col">
            <h2>3. Video Interview</h2>
            <br />
            <p>
              We will schedule a casual video interview to determine if Rocket
              Academy is a good fit. We’ll talk about your background, goals,
              and any past coding experience you’ve had.
            </p>
          </div>
          <br /><br />
        </div>
        <div class="col-12 col-md-6">
          <div class="inner-col">
            <h2>4. Start Coding!</h2>
            <br />
            <p>
              If Rocket Academy is a fit, we will add you to RA’s Slack group
              chat, assign pre-course material, and get started on Basics! RA
              only accepts top Basics students to Bootcamp.
            </p>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
  <div class="row image-row">
    <div class="col image-col">
      <h1>Your Career Is Our Priority.</h1>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
var form = document.querySelector('#apply-now-form');
form.addEventListener('submit', function(event) {
  if (form.checkValidity() === true) {

    form.classList.add('was-validated');
    axios({
      method: 'post',
      url: '/.netlify/functions/apply_now',
      data: {
        firstName: 'Fred',
        lastName: 'Flintstone'
      }
    }).then(function(response){
      console.log("HEY GOT SOMETHING BACK");
      console.log(response.data);
    });

  }else{
    console.log('invalid form');
  }
  event.preventDefault();
  event.stopPropagation();
}, false);
// from: https://getbootstrap.com/docs/4.0/components/forms/#custom-styles
</script>
