---
layout: default
---

  <div class="row main-header-row basics-header-row justify-content-center">
    <div class="ra-max-width-cont">
        <div class="col-9 col-md-6 offset-1 col-lg-4 main-header-col">
          <h1>Coding Basics</h1>
          <div id="basics-next-batch"></div>
          <h3>(Free for a limited time)</h3>
          <p>
            <a class="btn btn-primary" href="/apply-now">Apply Now</a>
          </p>
        </div>
    </div>
  </div>
  <div class="row learn-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 learn-col">
          <h1>Learn to Code. Upgrade Your Career</h1>
          <ol>
            <li>
              Coding Basics is a
              <span>&nbsp;live and online, 6-week part-time&nbsp;</span>
              intro to coding course for beginners, taught in JavaScript.
            </li>
            <li>
              By the end of Basics, students will know if they enjoy coding and
              how software engineers think and work.
            </li>
            <li>
              High-performing Basics graduates can join Software Engineering Bootcamp, Rocket
              Academy’s flagship career conversion course.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row prices-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 prices-header-col">
          <h1>Start Coding Today.</h1>
        </div>
        <div class="col-12 prices-content-col">
          <div class="row">
            <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-4 prices-middle-col">
              <h3><span>S$999</span> FREE (limited time only)</h3>
          
              <ol>
                <li>Build simple apps</li>
                <li>Learn coding fundamentals</li>
                <li>Understand software engineers</li>
              </ol>
            </div>
            <div class="col-12 col-md-4 prices-middle-col">
              <h4>Upcoming Batches</h4>
          
              <ul id="basics-course-dates">
              </ul>
          
              <a class="btn btn-primary" href="/apply-now">Apply Now</a>
            </div>
            <div class="col-12 col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row test-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-md-6 test-col">
          <img src="../../assets/img/basics/basics-testimonial.jpg" />
        </div>
        <div class="col-12 col-md-6 test-col">
          <div class="test-col-top">
            <p class="quote">
              <span>
                “Great introduction to coding concepts used by programmers in
                all industries. The instructors are dedicated and entertain
                questions outside of class.”</span
              >
            </p>
           
            <p class="student">
              — Alvin Lim Mechanical Engineer turned Software Engineer at Xfers
            </p>
          </div>
         
          <div class="test-col-bottom">
            <a href="https://www.switchup.org/bootcamps/rocket-academy">
              Read more testimonials here
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="row audience-row justify-content-center">
        <div class="ra-max-width-cont">
          <div class="row audience-container-row">
            <div class="col-12 audience-container-col">
              <h1>For Career Switchers and Tech Workers.</h1>
  
            </div>
            <div class="col-12 audience-content-col">
              <div class="row audience-content-row">
                <div class="col-12 col-md-6 audience-col">
                  <p class="question">Are you switching careers?</p>
                  <p>
                    Join Coding Basics to see if you enjoy coding before joining
                    a bootcamp.
                  </p>
  
                </div>
                <div class="col-12 col-md-6 audience-col">
                  <p class="question">Are you a tech worker?</p>
                  <p>
                    Boost your career by learning how software engineers think
                    and work.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row structure-row justify-content-center">
        <div class="ra-max-width-cont">
          <div class="row">
            <div class="col-12 col-md-6 structure-heading-col">
              <h1>Learn Online With Structure and Guidance.</h1>
            </div>
            <div class="col-12 col-md-6 structure-content-col">
              <p class="structure-content-heading">
                Time-efficient remote learning
              </p>
              <p class="structure-content">
                Complete pre-class lectures, readings, and coding exercises
                independently.
              </p>
          
              <p class="structure-content-heading">Live class twice a week</p>
              <p class="structure-content">
                Attend class twice a week over Zoom:
                <span>&nbsp;Tuesdays 7:30-9:30pm&nbsp;</span> and
                <span>&nbsp;Saturdays 1-3pm. &nbsp;</span> Clarify concepts with
                instructors, network with peers, and apply what you’ve learned
                via pair programming.
              </p>
          
              <p class="structure-content-heading">Expert help over Slack</p>
              <p class="structure-content">
                Get on-demand help over group chat any time of day. Never let
                yourself get stuck!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row background-row justify-content-center">
        <div class="ra-max-width-cont">
          <div class="row">
            <div class="col-12 col-md-6 background-header-col">
              <h1>No Coding Background Required</h1>
            </div>
            <div class="col-12 col-md-6 background-col">
              <ol>
                <li>Required: A computer with internet and webcam.</li>
                <li>Not required: Math or coding background.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row curriculum-row justify-content-center">
        <div class="ra-max-width-cont">
          <div class="row">
            <!-- <div class="row curriculum-row"> -->
            <div class="col-12 curriculum-heading-col">
              <h1>Curriculum For Beginners</h1>
            
            </div>
            <div class="col-12 curriculum-content-col">
              <div class="row curriculum-content">
                <div class="col-12 col-md-4 curriculum-module">
                  <h4>1</h4>
                
                  <p>Coding Tools (editors, version control, code hosting)</p>
                
                </div>
                <div class="col-12 col-md-4 curriculum-module">
                  <h4>2</h4>
        
                  <p>Functions and Conditionals</p>
        
                </div>
                <div class="col-12 col-md-4 curriculum-module">
                  <h4>3</h4>
        
                  <p>Program State</p>
        
                </div>
              </div>
    
              <div class="row curriculum-content">
                <div class="col-12 col-md-4 curriculum-module">
                  <h4>4</h4>
        
                  <p>Arrays and Loops</p>
        
                </div>
                <div class="col-22 col-md-4 curriculum-module">
                  <h4>5</h4>
        
                  <p>JavaScript Objects Development Strategy</p>
        
                </div>
                <div class="col-22 col-md-4 curriculum-module">
                  <h4>6</h4>
        
                  <p>Final Project Advanced Debugging</p>
        
                </div>
              </div>
    
              <div class="row curriculum-schedule">
                <div class="col-12 col-md-6 curriculum-schedule-header">
                  <h1>New Batches Every 6 Weeks.</h1>
                </div>
                <div class="col-12 col-md-6 curriculum-schedule-content">
                 
                  <ul id="basics-curriculum">
                  </ul>
                 
                  <a class="btn btn-primary" href="/apply-now">Apply Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row schedule-row justify-content-center">
        <div class="ra-max-width-cont">
          <div class="row">
            <div class="col-12 schedule-heading-col">
              <h1>Course Schedule</h1>
              
              <a href="https://basics.rocketacademy.co/"
                >See full course curriculum here.</a
              >
              
            </div>
            <div class="col-12 schedule-tabs-col">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link active"
                    id="tabpanel-week-1-tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-week-1"
                    role="tab"
                    aria-controls="tabpanel-week-1"
                    aria-selected="true"
                    >Week 0/1</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="tabpanel-week-2-tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-week-2"
                    role="tab"
                    aria-controls="tabpanel-week-2"
                    aria-selected="false"
                    >Week 2</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="tabpanel-week-3-tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-week-3"
                    role="tab"
                    aria-controls="tabpanel-week-3"
                    aria-selected="false"
                    >Week 3</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="tabpanel-week-4-tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-week-4"
                    role="tab"
                    aria-controls="tabpanel-week-4"
                    aria-selected="false"
                    >Week 4</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="tabpanel-week-5-tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-week-5"
                    role="tab"
                    aria-controls="tabpanel-week-5"
                    aria-selected="false"
                    >Week 5</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="tabpanel-week-6-tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-week-6"
                    role="tab"
                    aria-controls="tabpanel-week-6"
                    aria-selected="false"
                    >Week 6</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="tabpanel-week-1"
                  role="tabpanel"
                  aria-labelledby="tabpanel-week-1-tab"
                >
                  <div class="row day-row">
                    <div class="col-12 day-col">
                      <div class="row day-row-first">
                        <div class="col-6">
                          <p class="lesson-day">Saturday</p>
                          
                          <h3 class="lesson-title">Lesson 0</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-course Briefing</p>
                        </div>
                      </div>
                      <div class="row day-row-first">
                        <div class="col-6">
                          <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                          
                          <h3 class="lesson-title">Lesson 1</h3>
                          <h3 class="lesson-title">Set-up</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>8 videos. Total watch time: ~48 mins</p>
                          
                          <p class="lesson-heading">In-class materials</p>
                          <p>Basic file and data manipulation</p>
                        </div>
                      </div>
                      <div class="row day-row-last">
                        <div class="col-6">
                          <p class="lesson-day">Saturday, 1 - 3pm</p>
                          
                          <h3 class="lesson-title">Lesson 2</h3>
                          <h3 class="lesson-title">Functions</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>2 videos. Total watch time: ~25 mins</p>
                          
                          <p class="lesson-heading">In-class materials</p>
                          <p>Functions</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="tabpanel-week-2"
                  role="tabpanel"
                  aria-labelledby="tabpanel-week-2-tab"
                >
                  <div class="row day-row">
                    <div class="col-12 day-col">
                      <div class="row day-row-first">
                        <div class="col-6">
                          <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                          
                          <h3 class="lesson-title">Lesson 3</h3>
                          <h3 class="lesson-title">Logic</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>2 videos. Total watch time: ~22 mins</p>
                          
                          <p class="lesson-heading">In-class materials</p>
                          <p>If Statements, Boolean Or</p>
                        </div>
                      </div>
                      <div class="row day-row-last">
                        <div class="col-6">
                          <p class="lesson-day">Saturday, 1 - 3pm</p>
                          
                          <h3 class="lesson-title">Lesson 4</h3>
                          <h3 class="lesson-title">Logic 2</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>4 videos. Total watch time: ~40 mins</p>
                          
                          <p class="lesson-heading">In-class materials</p>
                          <p>Boolean And, GitHub, Program State</p>
                          
                          <p class="lesson-heading">Project</p>
                          <p>Begin Project 1: Scissors Paper Stone</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="tabpanel-week-3"
                  role="tabpanel"
                  aria-labelledby="tabpanel-week-3-tab"
                >
                  <div class="row day-row">
                    <div class="col-12 day-col">
                      <div class="row day-row-first">
                        <div class="col-6">
                          <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                         
                          <h3 class="lesson-title">Lesson 5</h3>
                          <h3 class="lesson-title">State</h3>
                         
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>2 videos. Total watch time: ~36 mins</p>
                         
                          <p class="lesson-heading">In-class materials</p>
                          <p>Scissors Paper Stone Redux</p>
                         
                          <p class="lesson-heading">Project</p>
                          <p>
                            Project 1: Scissors Paper Stone due Begin Project 2:
                            Beat That!
                          </p>
                        </div>
                      </div>
                      <div class="row day-row-last">
                        <div class="col-6">
                          <p class="lesson-day">Saturday, 1 - 3pm</p>
                         
                          <h3 class="lesson-title">Lesson 6</h3>
                          <h3 class="lesson-title">Loops</h3>
                         
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>3 videos. Total watch time: ~41 mins</p>
                         
                          <p class="lesson-heading">In-class materials</p>
                          <p>Loops</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="tabpanel-week-4"
                  role="tabpanel"
                  aria-labelledby="tabpanel-week-4-tab"
                >
                  <div class="row day-row">
                    <div class="col-12 day-col">
                      <div class="row day-row-first">
                        <div class="col-6">
                          <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                         
                          <h3 class="lesson-title">Lesson 7</h3>
                          <h3 class="lesson-title">Loops 2</h3>
                         
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>1 video. Total watch time: ~11 mins</p>
                         
                          <p class="lesson-heading">In-class materials</p>
                          <p>Loops and Arrays</p>
                        </div>
                      </div>
                      <div class="row day-row-last">
                        <div class="col-6">
                          <p class="lesson-day">Saturday, 1 - 3pm</p>
                         
                          <h3 class="lesson-title">Lesson 8</h3>
                          <h3 class="lesson-title">Objects</h3>
                         
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>1 video. Total watch time: ~15 mins</p>
                         
                          <p class="lesson-heading">In-class materials</p>
                          <p>Card games</p>
                         
                          <p class="lesson-heading">Project</p>
                          <p>
                            Project 2: Beat That! due</p>
                            <p>Begin Project 3:
                            Blackjack
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="tabpanel-week-5"
                  role="tabpanel"
                  aria-labelledby="tabpanel-week-5-tab"
                >
                  <div class="row day-row">
                    <div class="col-12 day-col">
                      <div class="row day-row-first">
                        <div class="col-6">
                          <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                          
                          <h3 class="lesson-title">Lesson 9</h3>
                          <h3 class="lesson-title">Card Deck</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>1 video. Total watch time: ~16 mins</p>
                          
                          <p class="lesson-heading">In-class materials</p>
                          <p>Moar cards</p>
                        </div>
                      </div>
                      <div class="row day-row-last">
                        <div class="col-6">
                          <p class="lesson-day">Saturday, 1 - 3pm</p>
                          
                          <h3 class="lesson-title">Lesson 10</h3>
                          <h3 class="lesson-title">Game Example</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>1 video. Total watch time: ~60 mins</p>
                          
                          <p class="lesson-heading">In-class materials</p>
                          <p>Chat bot</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="tabpanel-week-6"
                  role="tabpanel"
                  aria-labelledby="tabpanel-week-6-tab"
                >
                  <div class="row day-row">
                    <div class="col-12 day-col">
                      <div class="row day-row-first">
                        <div class="col-6">
                          <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                          
                          <h3 class="lesson-title">Lesson 11</h3>
                          <h3 class="lesson-title">Debugger</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">Pre-class materials</p>
                          <p>1 video. Total watch time: ~18 mins</p>
                          
                          <p class="lesson-heading">In-class materials</p>
                          <p>Debugger and Blackjack Redux</p>
                          
                          <p class="lesson-heading">Project</p>
                          <p>
                            Project 3: Blackjack due</p>
                            <p>Begin Project 3: Blackjack (More Comfortable)
                          </p>
                        </div>
                      </div>
                      <div class="row day-row-last">
                        <div class="col-6">
                          <p class="lesson-day">Saturday, 1 - 3pm</p>
                          
                          <h3 class="lesson-title">Lesson 12</h3>
                          <h3 class="lesson-title">Project Presentation</h3>
                          
                        </div>
                        <div class="col-6">
                          <p class="lesson-heading">In-class materials</p>
                          <p>
                            Project presentations</p>
                            <p>LinkedIn certificate presentations</p>
                            <p>Course feedback</p>
                  
                      
                          <p class="lesson-heading">Project</p>
                          <p>Project 3: Blackjack (More Comfortable)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 schedule-accordion-col">
              <div class="accordion accordion-flush" id="basics-schedule">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      Week 0/1
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#basics-schedule"
                  >
                    <div class="accordion-body">
                      <div class="row day-row">
                        <div class="col-12 day-col">
                          <div class="row day-row-first">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Saturday</p>
                             
                              <h3 class="lesson-title">Lesson 0</h3>
                             
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-course Briefing</p>
                            </div>
                          </div>
                          <div class="row day-row-first">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                             
                              <h3 class="lesson-title">Lesson 1</h3>
                              <h3 class="lesson-title">Set-up</h3>
                             
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>8 videos. Total watch time: ~48 mins</p>
                             
                              <p class="lesson-heading">In-class materials</p>
                              <p>Basic file and data manipulation</p>
                            </div>
                          </div>
                          <div class="row day-row-last">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Saturday, 1 - -3pm</p>
                             
                              <h3 class="lesson-title">Lesson 2</h3>
                              <h3 class="lesson-title">Functions</h3>
                             
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>2 videos. Total watch time: ~25 mins</p>
                             
                              <p class="lesson-heading">In-class materials</p>
                              <p>Functions</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      Week 2
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwo"
                    data-bs-parent="#basics-schedule"
                  >
                    <div class="accordion-body">
                      <div class="row day-row">
                        <div class="col-12 day-col">
                          <div class="row day-row-first">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                              
                              <h3 class="lesson-title">Lesson 3</h3>
                              <h3 class="lesson-title">Logic</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>2 videos. Total watch time: ~22 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>If Statements, Boolean Or</p>
                            </div>
                          </div>
                          <div class="row day-row-last">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Saturday, 1 - 3pm</p>
                              
                              <h3 class="lesson-title">Lesson 4</h3>
                              <h3 class="lesson-title">Logic 2</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>4 videos. Total watch time: ~40 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Boolean And, GitHub, Program State</p>
                              
                              <p class="lesson-heading">Project</p>
                              <p>Begin Project 1: Scissors Paper Stone</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      Week 3
                    </button>
                  </h2>
                  <div
                    id="flush-collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree"
                    data-bs-parent="#basics-schedule"
                  >
                    <div class="accordion-body">
                      <div class="row day-row">
                        <div class="col-12 day-col">
                          <div class="row day-row-first">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                              
                              <h3 class="lesson-title">Lesson 5</h3>
                              <h3 class="lesson-title">State</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>2 videos. Total watch time: ~36 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Scissors Paper Stone Redux</p>
                              
                              <p class="lesson-heading">Project</p>
                              <p>
                                Project 1: Scissors Paper Stone due Begin
                                Project 2: Beat That!
                              </p>
                            </div>
                          </div>
                          <div class="row day-row-last">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Saturday, 1 - 3pm</p>
                              
                              <h3 class="lesson-title">Lesson 6</h3>
                              <h3 class="lesson-title">Loops</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>3 videos. Total watch time: ~41 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Loops</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour"
                      aria-expanded="false"
                      aria-controls="flush-collapseFour"
                    >
                      Week 4
                    </button>
                  </h2>
                  <div
                    id="flush-collapseFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingFour"
                    data-bs-parent="#basics-schedule"
                  >
                    <div class="accordion-body">
                      <div class="row day-row">
                        <div class="col-12 day-col">
                          <div class="row day-row-first">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                              
                              <h3 class="lesson-title">Lesson 7</h3>
                              <h3 class="lesson-title">Loops 2</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>1 video. Total watch time: ~11 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Loops and Arrays</p>
                            </div>
                          </div>
                          <div class="row day-row-last">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Saturday, 1 - 3pm</p>
                              
                              <h3 class="lesson-title">Lesson 8</h3>
                              <h3 class="lesson-title">Objects</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>1 video. Total watch time: ~15 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Card games</p>
                              
                              <p class="lesson-heading">Project</p>
                              <p>
                                Project 2: Beat That! due</p>
                                <p> Begin Project 3:
                                Blackjack
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFive"
                      aria-expanded="false"
                      aria-controls="flush-collapseFive"
                    >
                      Week 5
                    </button>
                  </h2>
                  <div
                    id="flush-collapseFive"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingFive"
                    data-bs-parent="#basics-schedule"
                  >
                    <div class="accordion-body">
                      <div class="row day-row">
                        <div class="col-12 day-col">
                          <div class="row day-row-first">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                              
                              <h3 class="lesson-title">Lesson 9</h3>
                              <h3 class="lesson-title">Card Deck</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>1 video. Total watch time: ~16 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Moar cards</p>
                            </div>
                          </div>
                          <div class="row day-row-last">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Saturday, 1 - 3pm</p>
                              
                              <h3 class="lesson-title">Lesson 10</h3>
                              <h3 class="lesson-title">Game Example</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>1 video. Total watch time: ~60 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Chat bot</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingSix">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSix"
                      aria-expanded="false"
                      aria-controls="flush-collapseSix"
                    >
                      Week 6
                    </button>
                  </h2>
                  <div
                    id="flush-collapseSix"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingSix"
                    data-bs-parent="#basics-schedule"
                  >
                    <div class="accordion-body">
                      <div class="row day-row">
                        <div class="col-12 day-col">
                          <div class="row day-row-first">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Tuesday, 7:30 - 9:30pm</p>
                              
                              <h3 class="lesson-title">Lesson 11</h3>
                              <h3 class="lesson-title">Debugger</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">Pre-class materials</p>
                              <p>1 video. Total watch time: ~18 mins</p>
                              
                              <p class="lesson-heading">In-class materials</p>
                              <p>Debugger and Blackjack Redux</p>
                              
                              <p class="lesson-heading">Project</p>
                              <p>
                                Project 3: Blackjack due</p>
                                <p>Begin Project 3: Blackjack (More Comfortable)
                              </p>
                            </div>
                          </div>
                          <div class="row day-row-last">
                            <div class="col-12 col-sm-6">
                              <p class="lesson-day">Saturday, 1 - 3pm</p>
                              
                              <h3 class="lesson-title">Lesson 12</h3>
                              <h3 class="lesson-title">Project Presentation</h3>
                              
                            </div>
                            <div class="col-12 col-sm-6">
                              <p class="lesson-heading">In-class materials</p>
                              <p>
                                Project presentations</p>
                                <p>LinkedIn certificate presentations</p>
                                <p>Course feedback
                              </p>
                              
                              <p class="lesson-heading">Project</p>
                              <p>Project 3: Blackjack (More Comfortable)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row last-row justify-content-center">
        <div class="ra-max-width-cont">
          <div class="row">
            <div class="col-12 last-col">
              <h1>Discover the World of Coding</h1>
              <a class="btn btn-light" href="/apply-now" role="button">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="{% link assets/js/basics.js %}" type="text/javascript"></script>
{% include calendar.html %}
