---
layout: default
---

<div class="container-fluid">
  <div class="row basics-header-row">
    <div class="col-12 basics-header-col">
      <h1>Coding Basics</h1>
      <h2>Next Batch: 14 Aug - 25 Sep 2021</h2>
      <h3>(Free for a limited time)</h3>
      <button class="btn">Apply Now</button>
    </div>
  </div>
  <div class="row learn-row">
    <div class="col-12 learn-col">
      <h1>Learn to Code. Upgrade Your Career</h1>
      <ol>
        <li>
          Coding Basics is a
          <span>&nbsp;live and online, 6-week part-time&nbsp;</span>
          intro to coding course for beginners, taught in JavaScript.
        </li>
        <li>
          By the end of Basics, students will know if they enjoy coding and how
          software engineers think and work.
        </li>
        <li>
          High-performing Basics graduates can join Coding Bootcamp, Rocket
          Academy’s flagship career conversion course.
        </li>
      </ol>
    </div>
  </div>
  <div class="row prices-row">
    <div class="col-12 prices-header-col">
      <h1>Start Coding Today.</h1>
    </div>
    <div class="col-12 prices-content-col">
      <div class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3 prices-middle-col">
          <h3><span>S$999</span> FREE (limited time only)</h3>
          <br />
          <ol>
            <li>Build simple apps</li>
            <li>Learn coding fundamentals</li>
            <li>Understand software engineers</li>
          </ol>
        </div>
        <div class="col-12 col-md-3 prices-middle-col">
          <h4>Upcoming Batches</h4>
          <br />
          <ul>
            <li>14 Aug - 25 Sep 2021</li>
            <li>2 Oct - 13 Nov 2021</li>
            <li>13 Nov - 25 Dec 2021</li>
          </ul>
          <br />
          <button class="btn">Apply Now</button>
        </div>
        <div class="col-12 col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="row basics-test-row">
    <div class="col-12 col-md-6 basics-test-col">
      <img src="../../assets/img/uploads/Rocket Academy 2-2019.jpg" />
    </div>
    <div class="col-12 col-md-6 basics-test-col">
      <div class="basics-test-col-top">
        <p class="quote">
          <span>
            “Great introduction to coding concepts used by programmers in all
            industries. The instructors are dedicated and entertain questions
            outside of class.”</span
          >
        </p>
        <br />
        <p class="student">
          — Alvin Lim Mechanical Engineer turned Software Engineer at Xfers
        </p>
      </div>
      <br />
      <div class="basics-test-col-bottom">
        <a href="https://www.switchup.org/bootcamps/rocket-academy">
          Read more testimonials here
        </a>
      </div>
    </div>
  </div>
  <div class="audience-row">
    <div class="col-12">
      <h1>For Career Switchers and Tech Workers</h1>
      <br /><br />
    </div>
    <div class="col-12 audience-content-col">
      <div class="row">
        <div class="col-12 col-md-6 audience-col">
          <p class="question">Are you switching careers?</p>
          <p>
            Join Coding Basics to see if you enjoy coding before joining a
            bootcamp.
          </p>
        </div>
        <div class="col-12 col-md-6 audience-col">
          <p class="question">Are you a tech worker?</p>
          <p>
            Boost your career by learning how software engineers think and work.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row structure-row">
    <div class="col-12 col-md-6 structure-heading-col">
      <h1>Learn Online With Structure and Guidance.</h1>
    </div>
    <div class="col-12 col-md-6 structure-content-col">
      <p class="structure-content-heading">Time-efficient remote learning</p>
      <p class="structure-content">
        Complete pre-class lectures, readings, and coding exercises
        independently.
      </p>
      <br />
      <p class="structure-content-heading">Live class twice a week</p>
      <p class="structure-content">
        Attend class twice a week over Zoom:
        <span>&nbsp;Tuesday 7:30-9:30pm&nbsp;</span> and
        <span>&nbsp;Saturday 1-3pm. &nbsp;</span> Clarify concepts with
        instructors, network with peers, and apply what you’ve learned via pair
        programming.
      </p>
      <br />
      <p class="structure-content-heading">Expert help over Slack</p>
      <p class="structure-content">
        Get on-demand help over group chat any time of day. Never let yourself
        get stuck!
      </p>
      <br />
    </div>
  </div>
</div>
