---
layout: default
---

  <div class="row main-header-row bootcamp-header-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-9 col-md-6 offset-1 col-lg-4 main-header-col">
          <h1>Software Engineering Bootcamp</h1>
          <div id="next-batch-date"></div>
          <h3>(Free if you don't get a job)</h3>
          <p>
            <a class="btn btn-primary" href="/apply-now">Apply Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row learn-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 learn-col">
          <h1>Become a Software Engineer. Job Guaranteed.</h1>
          <ol>
            <li>
              Software Engineering Bootcamp is Rocket Academy’s flagship
              <span>&nbsp;24-week full-time&nbsp;</span> or
              <span>&nbsp; 48-week part-time&nbsp;</span> career prep course,
              primarily taught in JavaScript and Python.
            </li>
            <li>
              <span class="percent">100%</span> of graduates have received offers
              from companies such as GovTech, Ninja Van, Xfers, 99.co, and Glints.
            </li>
            <li>
              High-performing Basics graduates can join Software Engineering Bootcamp, Rocket
              Academy’s flagship career conversion course.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row prices-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 prices-header-col">
          <h1>Get Your Dream Job.</h1>
        </div>
        <div class="col-12 prices-content-col">
          <div class="row">
            <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-4 prices-middle-col">
              <h3><span>S$9,999</span> S$4,999 (early batch discount)</h3>
             
              <ol>
                <li>Build a unique project portfolio</li>
                <li>Network with tech leaders weekly</li>
                <li>Unlimited interview prep</li>
              </ol>
            </div>
            <div class="col-12 col-md-4 prices-middle-col">
              <h4>Upcoming Batches</h4>
             
              <ul id="course-dates-container">
              </ul>
             
              <a class="btn btn-primary" href="/apply-now">Apply Now</a>
            </div>
            <div class="col-12 col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row test-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-md-6 test-col">
          <img src="../../assets/img/bootcamp/bootcamp-testimonial.jpg" />
        </div>
        <div class="col-12 col-md-6 test-col">
          <div class="test-col-top">
            <p class="quote">
              <span>
                “I found Rocket Academy when pursuing a career switch. The courses
                were well-paced and well-arranged. Even after graduating, every
                teacher gave me tons of guidance for my job search. Jonathan gave
                algorithm tests, Kai helped polish my resume, and Lionell helped
                with an assignment. I was amazed!”</span
              >
            </p>
           
            <p class="student">
              — Perry Lim Chef turned Software Engineer at Glints
            </p>
          </div>
         
          <div class="test-col-bottom">
            <a href="https://www.switchup.org/bootcamps/rocket-academy">
              Read more testimonials here
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row structure-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-md-6 structure-heading-col">
          <h1>Develop Your Edge.</h1>
          
        </div>
        <div class="col-12 col-md-6 structure-content-col">
          <p class="structure-content-heading">Technical Excellence</p>
          <ol>
            <li class="structure-content">Frontend and backend frameworks</li>
            <li class="structure-content">Cloud infrastructure</li>
            <li class="structure-content">Data structures and algorithms</li>
          </ol>
          
          <p class="structure-content-heading">High-Value Networking</p>
          <ol>
            <li class="structure-content">Capable and ambitious peers</li>
            <li class="structure-content">
              Weekly live Q&As with software engineers
            </li>
            <li class="structure-content">
              Access to Rocket Academy’s powerful alumni network
            </li>
          </ol>
          
          <p class="structure-content-heading">Unlimited Interview Prep</p>
          <ol>
            <li class="structure-content">Unlimited resume and portfolio review</li>
            <li class="structure-content">
              Unlimited interview prep with past questions and answers
            </li>
            <li class="structure-content">
              On-demand technical and career guidance, any time, any day
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row background-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-md-6 background-header-col">
          <h1>Maximise Your Time.</h1>
          
        </div>
        <div class="col-12 col-md-6 background-col">
          <ol>
            <li>Complete pre-class readings and assignments independently.</li>
            <li>2 hours of live class daily for clarifications and group work.</li>
            <li>Better outcomes, no commute, more time for your family.</li>
          </ol>
        </div>
     </div>
    </div>
  </div>
  <div class="row curriculum-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 curriculum-heading-col">
          <h1>The Most Relevant Curriculum.</h1>
          
        </div>
        <div class="col-12 curriculum-content-col">
          <div class="row curriculum-content">
            <div class="col-12 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>1</h4>
                
                <p class="curriculum-title">Front End Basics</p>
                <p>HTML, CSS, JS</p>
              </div>
              
            </div>
            <div class="col-12 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>2</h4>
                
                <p class="curriculum-title">Back End Basics</p>
                <p>Node.js, HTTP, File Servers, Command Line Programs</p>
              </div>
              
            </div>
            <div class="col-12 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>3</h4>
                
                <p class="curriculum-title">Back End Application</p>
                <p>Application Servers, SQL Databases, Authentication</p>
              </div>
              
            </div>
            <div class="col-12 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>4</h4>
                
                <p class="curriculum-title">Full Stack Application</p>
                <p>Full-Stack Apps, MVC Architecture, ORM, APIs, AJAX</p>
              </div>
              
            </div>
          </div>
          
          <div class="row curriculum-content">
            <div class="col-12 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>5</h4>
                
                <p class="curriculum-title">React (Front End)</p>
                <p>React, Webpack</p>
              </div>
              
            </div>
            <div class="col-22 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>6</h4>
                
                <p class="curriculum-title">Advanced React, Advanced Full Stack</p>
                <p>React Context, Create React App, Sockets</p>
              </div>
              
            </div>
            <div class="col-22 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>7</h4>
                
                <p class="curriculum-title">Advanced Topics in SWE (Full Stack)</p>
                <p>Testing, Mobile, Data Science</p>
              </div>
              
            </div>
            <div class="col-22 col-md-3 curriculum-module">
              <div class="curriculum-container">
                <h4>8</h4>
                
                <p class="curriculum-title">Data Structures and Algorithms</p>
                <p>
                  Complexity Analysis, Recursion, OOP, Arrays, Hash Tables, Stacks,
                  Queues, Linked Lists, Trees, Graphs, Heaps
                </p>
              </div>
              
            </div>
          </div>
          
          <div class="row curriculum-schedule">
            <div class="col-12 col-md-6 curriculum-schedule-header">
              
              <h1>New Batches Every 6 Weeks.</h1>
            </div>
            <div class="col-12 col-md-6 curriculum-schedule-content">
              
              <p class="curriculum-cost">
                Software Engineering Bootcamp costs S$4,999 when paid upfront. There are 2
                instalment options: S$999/mo for 6 months (S$5,999 total), and
                S$599/mo for 12 months (only available for Part-Time Bootcamp,
                S$7,199 total).
              </p>
              <ul id="course-dates-curriculum">
              </ul>
              
              <a class="btn btn-primary" href="/apply-now">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bootcamp-schedule-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row schedule-container">
          <div class="col-12 schedule-heading-col">
            <h1>Course Schedule</h1>
            
            <p>
              Below is our Full-Time Bootcamp schedule (Mon-Fri 10am-12pm SGT). Part-Time Bootcamp covers the same material over twice the time (12 months), meeting Tuesday
              7:30-9:30pm SGT and Saturday 10am-12pm SGT. </p>
              <a href="https://bootcamp.rocketacademy.co/"
                >See full course curriculum for FT and PT Bootcamps here.</a
              >
           
            
          </div>
          <div class="col-12 schedule-tabs-col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="tabpanel-1-3-tab"
                  data-bs-toggle="tab"
                  href="#tabpanel-1-3"
                  role="tab"
                  aria-controls="tabpanel-1-3"
                  aria-selected="true"
                  >Months 1-3</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="tabpanel-4-6-tab"
                  data-bs-toggle="tab"
                  href="#tabpanel-4-6"
                  role="tab"
                  aria-controls="tabpanel-4-6"
                  aria-selected="false"
                  >Months 4-6</a
                >
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="tabpanel-1-3"
                role="tabpanel"
                aria-labelledby="tabpanel-1-3-tab"
              >
                <div class="row day-row">
                  <div class="col-12 day-col">
                    <div class="row day-row-first">
                      <div class="col-12 col-md-2">
                        <h2>1</h3>
                         
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Topics</p>
                    
                        <p class="week-content">
                          Vanilla HTML, CSS, JS DOM Manipulation Intro to Servers,
                          Databases
                        </p>
                    
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Project</p>
                    
                        <p class="week-content">
                          Front-End Application: Video Poker
                        </p>
                    
                      </div>
                    </div>
                    <div class="row day-row-first">
                      <div class="col-12 col-md-2">
                        <h2>2</h3>
                         
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Topics</p>
                    
                        <p class="week-content">
                          Express.js
                          SQL
                          Authentication
                        </p>
                    
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Project</p>
                    
                        <p class="week-content">
                          Server-Side Application
                        </p>
                    
                      </div>
                    </div>
                    <div class="row day-row-last">
                      <div class="col-12 col-md-2">
                        <h2>3</h3>
                         
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Topics</p>
                    
                        <p class="week-content">
                          ORM
                          MVC
                          AJAX
                        </p>
                    
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Project</p>
                    
                        <p class="week-content">
                          Full-Stack Application
                        </p>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tabpanel-4-6"
                role="tabpanel"
                aria-labelledby="tabpanel-4-6-tab"
              >
                <div class="row day-row">
                  <div class="col-12 day-col">
                    <div class="row day-row-first">
                      <div class="col-12 col-md-2">
                        <h2>4</h3>
                         
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Topics</p>
                    
                        <p class="week-content">
                          React
                          Webpack
                          Data Structures and Algorithms
                        </p>
                    
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Project</p>
                    
                        <p class="week-content">
                          Full Stack Application with React
                        </p>
                    
                      </div>
                    </div>
                    <div class="row day-row-first">
                      <div class="col-12 col-md-2">
                        <h2>6</h3>
                         
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Topics</p>
                    
                        <p class="week-content">
                          Advanced React (Context, HOC, Router)
                          Sockets
                          Data Structures and Algorithms
                        </p>
                    
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Project</p>
                    
                        <p class="week-content">
                          Full Stack Application with React (Group)
                        </p>
                    
                      </div>
                    </div>
                    <div class="row day-row-last">
                      <div class="col-12 col-md-2">
                        <h2>5</h3>
                         
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Topics</p>
                    
                        <p class="week-content">
                          Mobile
                          Cybersecurity
                          Data Science
                          Data Structures and Algorithms
                        </p>
                    
                      </div>
                      <div class="col-12 col-md-5">
                        <p class="week-heading">Project</p>
                    
                        <p class="week-content">
                          Final Project
                        </p>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  <div class="row last-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 last-col">
          <h1>Become a Software Engineer Today.</h1>
      
          <a class="btn btn-light" href="/apply-now" role="button">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
<script src="{% link assets/js/helpers.js %}" type="text/javascript"></script>
<script src="{% link assets/js/bootcamp.js %}" type="text/javascript"></script>
{%include calendar.html %}