---
layout: default-empty
---
<div class="row thanks-row">
  <div class="thanks-message-cont">
    <h1>Hm... something's not quite right😨</h1>
    <h2>Thanks for submitting your application.</h2>
    <p>
      Please check your email for our submission confirmation email. If you didn't get one our system didn't record your application due to an error. If you recieved a confirmation email you can disgregard this message!
    </p>
    <p>
      Sorry about that! Please send us a message using the chat or <a href="mailto: hello@rocketacademy.co">email</a> and we'll try to fix this as soon as possible!
    </p>
    <div class="text-center">
      <a class="btn btn-secondary" href="/">Back to Home</a>
    </div>
  </div>
</div>
