---
layout: default
---

<!-- <h2>{{ page.title }}</h2>

{% include page-intro.html %} {{ content }} -->

<!-- <section>
  <h3>Recent posts from the blog</h3>

  <ul>
    {% for post in site.posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section> -->
<div class="container-fluid">
  <div class="row main-header-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="col-12 col-md-6 offset-lg-1 main-header-col">
        <h1>Become a Software Engineer</h1>
        <br />
        <h3>100% placement at companies like GovTech, Ninja Van, and Xfers.</h3>
        <a
          class="btn btn-primary"
          href="http://eepurl.com/g6a1hj"
          target="_blank"
          >Apply Now</a
        >
      </div>
    </div>
  </div>
  <div class="row coursetype-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-md-6 coursetype-col">
          <div class="coursetype-container">
            <div class="coursetype-details">
              <h3 class="coursetype-header">Basics</h3>
              <br /><br />
              <h2>
                <span class="price">S$999</span>&nbsp;&nbsp;<span
                  class="new-price"
                  >&nbsp;FREE&nbsp;</span
                >
              </h2>
              <br />
              <p>6 weeks | Part-Time</p>
              <p>Live and Online</p>
              <p>&nbsp;No background required</p>
              <br />
              <p>Learn basic coding by building simple apps</p>
              <br />
              <div id="basics-homepage-dates"></div>
            </div>
            <div class="coursetype-button-container">
              <a class="btn btn-primary" href="/basics" target="_blank"
                >Learn More</a
              >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 coursetype-col">
          <div class="coursetype-container">
            <div class="coursetype-details">
              <h3 class="coursetype-header">Bootcamp</h3>
              <br /><br />
              <h2>
                <span class="price">S$9999</span>&nbsp;&nbsp;<span
                  >&nbsp;S$4999&nbsp;</span
                >
              </h2>
              <br />
              <p>
                24 Weeks (6 Months) | Full-Time<br />48 Weeks (12 Months) |
                Part-Time
              </p>
              <p>Live and Online</p>
              <p class="pre-requisite" style="width: 55%">
                &nbsp;Basics Course Required
              </p>
              <br />
              <p>Switch careers to coding. Job or money back.</p>
              <br />
              <div id="bootcamp-homepage-dates"></div>
            </div>
            <div class="coursetype-button-container">
              <a class="btn btn-primary" href="/bootcamp" target="_blank"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row track-record-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-md-6 track-record-col">
          <div class="track-record-container-left">
            <img src="../assets/img/uploads/home-track-record.png" />
          </div>
        </div>
        <div class="col-12 col-md-6 track-record-col">
          <div class="track-record-container-right">
            <h1>Proven Track Record.</h1>
            <br /><br />
            <p>
              100% of Coding Bootcamp grads have software engineering offers
              from companies such as GovTech, Ninja Van, Xfers, 99.co, and
              Glints.
            </p>
            <br /><br /><br />
            <h1>Not Hired? Get a Refund.</h1>
            <br /><br />
            <p>
              Bootcamp grads applying but unable to get a coding job within 6
              months are eligible for a full refund. Read more in our FAQ.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row table-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 table-header-col">
          <h1>The Most Comprehensive Bootcamp.</h1>
        </div>
        <div class="col-12 table-content-col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Other bootcamps</th>
                <th scope="col">Rocket Academy</th>
              </tr>
            </thead>
            <tbody>
              {% for item in site.data.comparison %}
              <tr>
                <th scope="row">{{ item.heading }}</th>
                <td>{{ item.others }}</td>
                <td>{{ item.RA }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-testimonial justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-testimonial-header">
          <h1>Hear From Our Graduates.</h1>
        </div>
        <div class="col-12 testimonial-content">
          <div class="row testimonial-content-col-row">
            <div class="col-md-4 testimonial-content-col">
              <p class="quote">
                “Rocket Academy gave me a learning structure curated from
                industry experience. I would not have known what to focus my
                energy and time on if I were studying on my own.”
              </p>
              <br />
              <div class="row">
                <div class="col-12">
                  <p class="student">
                    — Samantha Koh <br />Former Business Analyst <br />Software
                    Engineer at GovTech
                  </p>
                </div>
              </div>
              <br />
            </div>
            <div class="col-md-4 testimonial-content-col">
              <p class="quote">
                “It has been very rewarding. I feel proud of all the projects
                I've done and have a better sense of what to learn as a software
                engineer.”
              </p>
              <br />
              <div class="row">
                <div class="col-12">
                  <p class="student">
                    — Perry Lim <br />Former Chef <br />Software Engineer at
                    Glints
                  </p>
                </div>
              </div>
              <br />
            </div>
            <div class="col-md-4 testimonial-content-col">
              <p class="quote">
                “RA understood my situation and helped me achieve my goals,
                covering topics not found at other bootcamps. The RA staff were
                always available for help. I recommend Rocket Academy.”
              </p>
              <br />
              <div class="row">
                <div class="col-12">
                  <p class="student">
                    — Loh Eng Liang <br />Former Electrical Engineer
                    <br />Software Engineer at Xfers
                  </p>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="row testimonial-footer">
        <a href="https://www.switchup.org/bootcamps/rocket-academy"
          >Read More Testimonials Here</a
        >
      </div>
    </div>
  </div>
  <div class="row success-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 success-header">
          <h1>Everything You Need to Succeed.</h1>
        </div>
        <div class="col-12 success-content-col">
          <div class="row success-top-row">
            {% for item in site.data.success-top %}
            <div class="col-12 col-md-6 success-top-row-col">
              <div class="success-content-container">
                <img src="{{ item.image }}" />
                <br /><br />
                <p class="success-title">{{ item.title }}</p>
                <p class="success-content">{{ item.content }}</p>
              </div>
              <br />
            </div>
            {% endfor %}
          </div>
          <div class="row success-bottom-row">
            {% for item in site.data.success-bottom %}
            <div class="col-12 col-md-6 success-bottom-row-col">
              <div class="success-content-container">
                <img src="{{ item.image }}" />
                <br /><br />
                <p class="success-title">{{ item.title }}</p>
                <p class="success-content">{{ item.content }}</p>
              </div>
            </div>
            <br />
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row instructors-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 col-lg-4 instructors-header">
          <h1>Learn From the Best Instructors</h1>
        </div>
        {% for item in site.data.instructors %}
        <div class="col-12 col-lg-4 instructors-col">
          <div class="row instructors-container">
            <div class="col-12 col-md-7 col-lg-12 instructors-image">
              <img class="instructor-img" src="{{ item.image }}" />
            </div>
            <div class="col-12 col-md-5 col-lg-12 instructor-details">
              <h4>
                {{ item.name }}(<span
                  ><a href="{{ item.linked-in }}">LinkedIn</a></span
                >)
              </h4>
              <ol>
                <li>{{ item.list-item-1 }}</li>
                <li>{{ item.list-item-2 }}</li>
                <li>{{ item.list-item-3 }}</li>
              </ol>
              <p>
                <a class="btn btn-primary" href="/about" target="_blank"
                  >Read More</a
                >
              </p>
            </div>
            <br />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row blog-row justify-content-center">
    <div class="ra-max-width-cont">
      <div class="row">
        <div class="col-12 blog-header">
          <h1>Break Into the Tech Industry.</h1>
        </div>
        <div
          id="homepage-carousel-controls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <!-- {% for item in site.data.carousel-1 %}
                <div class="col-4">
                  <img src="{{ item.image }}" />
                  <p class="blog-title">{{ item.heading }}</p>
                </div>
                {% endfor %} -->
                {% assign count = 0 %} {% for post in site.posts %} {% if
                post.categories[0] == "learning" %} {% assign count = count |
                plus:1 %}
                <div class="col-12 col-md-4">
                  <img src="{{ post.meta_description }}" />
                  <br /><br />
                  <p class="blog-title">{{ post.title }}</p>
                </div>
                {% if count == 3 %}{% break %} {% endif %} {% endif %}{% endfor
                %}
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                {% assign count = 0 %} {% for post in site.posts %} {% if
                post.categories[0] == "profiles" %} {% assign count = count |
                plus:1 %}
                <div class="col-12 col-md-4">
                  <img src="{{ post.meta_description }}" />
                  <br /><br />
                  <p class="blog-title">{{ post.title }}</p>
                </div>
                {% if count == 3 %}{% break %} {% endif %} {% endif %}{% endfor
                %}
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                {% assign count = 0 %} {% for post in site.posts %} {% if
                post.categories[0] == "community" %} {% assign count = count |
                plus:1 %}
                <div class="col-12 col-md-4">
                  <img src="{{ post.meta_description }}" />
                  <br /><br />
                  <p class="blog-title">{{ post.title }}</p>
                </div>
                {% if count == 3 %}{% break %} {% endif %} {% endif %}{% endfor
                %}
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#homepage-carousel-controls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#homepage-carousel-controls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% link assets/js/home.js %}" type="text/javascript"></script>
{% include calendar.html %}
